<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/25_05_09_Python_%EC%88%98%EC%97%85(%ED%95%A8%EC%88%98%EC%97%90%EC%84%9C_%EC%9C%84%EC%B9%98_%EC%9D%B8%EC%88%98%EC%99%80_%ED%82%A4%EC%9B%8C%EB%93%9C_%EC%9D%B8%EC%88%98_%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 위치 인수와 리스트 언패킹 사용하기

In [ ]:
## 함수에 인수를 순서대로 넣는 방식 -> 위치 인수(positional argument)라고 함
## 인수의 위치가 정해져 있음

print(10, 20, 30)

10 20 30

## 위치 인수를 사용하는 함수를 만들고 호출하기

In [ ]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [ ]:
print_numbers(10, 20, 30)

10
20
30

## 언패킹 사용하기

In [ ]:
# 함수(*리스트)
# 함수(*튜플)

x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [ ]:
# 즉, 리스트(튜플) 앞에 *을 붙이면 언패킹 됨
# print_numbers(10, 20, 30)과 똑같은 동작이 됨 -> 말 그대로 포장을 푼다

In [ ]:
# 리스트 변수 대신 리스트 앞에 바로 *을 붙여도 동작은 같음
print_numbers(*[10, 20, 30])

10
20
30

In [ ]:
# 이때의 매개변수 개수와 리스트의 요소 개수는 같아야 함
# 만약 개수가 다르면 함수를 호출 할 수 x

print_numbers(*[10, 20])

TypeError: print_numbers() missing 1 required positional argument: 'c'

## 가변 인수 함수 만들기

In [ ]:
# 위치 인수와 리스트 언패킹은 인수의 개수가 정해지지 않은 가변 인수를 사용
# 즉 같은 함수에 인수 한 개를 넣을 수 있고, 열 개를 넣을 수도 있음, 또는 인수를 넣지 않을 수 o

# 가변 함수는 매개변수 앞에 *을 붙여서 만듬

def 함수이름(*매개변수):
    코드

In [ ]:
# 숫자를 여러 개 받고, 숫자를 각 줄에 출력하는 함수를 만듬
# 함수를 만들 때 괄호 안에 *args와 같이 매개변수 앞에 *을 붙암

def print_numbers(*args):
    for arg in args: # arg는 튜플이라서 for로 반복 가능
        print(arg)

In [ ]:
print_numbers(10)

10

In [ ]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [ ]:
# 함수에 인수 여러 개를 직접 넣어도 되고, 리스트(튜플) 언패킹을 사용되도 됨

x = [10]
print_numbers(*x)

10

In [ ]:
y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

## 고정 인수와 가변 인수를 함께 사용하기

In [ ]:
# 고정 인수와 가변 인수를 함께 사용할 땐, 고정 매개변수 먼저 저장 후, 그 다음 매개변수에 *을 붙여주면 됨

def print_numbers(a, *args):
    print(a)
    print(args)

In [ ]:
print_numbers(1)

1
()

In [ ]:
print_numbers(1, 10, 20)

1
(10, 20)

In [ ]:
print_numbers(*[10, 20, 30])

10
(20, 30)

## 키워드 인수 사용하기

In [ ]:
# 개인정보를 출력하는 함수

def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
# 이 함수를 사용할 때는 첫번째 인수에 이름(name), 나이(age), 주소(adress)를 넣어야 함
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
# 인수의 순서와 용도를 매번 기억하지 않도록 키워드 인수(keyword argument)라는 기능 제공
# 키워드 인수는 말 그대로 인수에 이름(키워드)을 붙이는 기능, 키워드 = 값 형식 사용

# 함수(키워드=값)

In [ ]:
# personal_info 함수를 키워드 인수 방식으로 호출

personal_info(name='홍길동', age= 30, address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
# 키워드 함수를 사용하면 인수의 순서를 맞추지 않아도 키워드에 해당 하는 값이 들어감

personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
# personal_info 함수는 이름, 나이, 주소순으로 인수를 넣어야 하지만, 키워드 인수를 사용해서 순서를 지키지 않고 값을 넣음
# 참고로 print 함수에서 사용했던 sep, end도 키워드 함수임

print(10, 20, 30, sep=':', end='')

10:20:30

## 키워드 인수와 딕셔너리 언패킹 사용하기

In [ ]:
# 함수(**딕셔너리)

def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
# 딕셔너리에 '키워드':값 형식으로 인수를 저장하고 앞에 **를 붙여서 함수에 넣어줌
# 이때 딕셔너리의 키워드(키)는 반드시 문자열 이어야 함

x = {'name' : '홍길동', 'age': 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
# 딕셔너리 변수 대신 바로 앞에 **을 붙여도 상관 x

personal_info(**{'name': '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
# 딕셔너리 언패킹을 할 때 매개변수 이름 = 딕셔너리의 키 이름
# 또한 매개변수 개수 = 딕셔너리 키의 개수
# 만약 이름과 개수가 다르면 호출 x

In [ ]:
personal_info(**{'name' : '홍길동', 'old' : 30, 'address' : '서울시 용산구 이촌동'})

TypeError: personal_info() got an unexpected keyword argument 'old'

In [ ]:
personal_info(**{'name': '홍길동', 'age' : 30})

TypeError: personal_info() missing 1 required positional argument: 'address'

## **을 두 번 사용하는 이유

In [ ]:
# 딕셔너리는 키-값 쌍 형태로 값이 저장되기 때문

x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(*x)

이름:  name
나이:  age
주소:  address

In [ ]:
# personal_info에 *x를 넣으면 x의 키가 출력
# 즉 딕셔너리를 한 번 언패킹하면 키를 사용한다는 뜻
# 따라서 **처럼 딕셔너리를 두 번 언패킹하여 값을 사용하도록 만들어야 함

x = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

## 키워드 인수를 사용하는 가변 인수 함수 만들기

In [ ]:
def 함수이름(**매개변수):
    코드

In [ ]:
# 값 여러 개를 받아서 매개변수 이름과 값을 각 줄에 출력하는 함수를 만듬

def personal_info(**kwargs): # 매개변수 이름은 원하는 데로 지어도 됨
    for kw, arg in kwargs.items():
        print(kw, ':', arg, sep='')

In [ ]:
from os import name
# personal_info 함수에 키워드와 값을 넣어서 실행

personal_info(name='홍길동')

name:홍길동

In [ ]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name:홍길동
age:30
address:서울시 용산구 이촌동

In [ ]:
## 딕셔너리 만들고 앞에 **을 넣기

x = {'name' : '홍길동'}
personal_info(**x)

name:홍길동

In [ ]:
y = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**y)

name:홍길동
age:30
address:서울시 용산구 이촌동

In [ ]:
def personal_info(**kwargs):
    if 'name' in kwargs: # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

## 고정 인수와 가변 인수(키워드 인수) 함께 사용하기

In [ ]:
# 고정 인수와 가변 인수(키워드 인수)를 함께 사용할 때는 다음과 같이 고정 매개변수를 먼저 지정, 그 다음에 매개변수 **를 붙어주면 됨

def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

personal_info('홍길동')

홍길동
{}

In [ ]:
personal_info('홍길동', age=30, address='서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [ ]:
personal_info(**{'name': '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'})

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

## 위치 인수와 키워드 인수를 함께 사용하기

In [ ]:
# 다음과 같이 함수의 매개변수를 *args, **kwargs로 지정하면 위치인수와 키워드 인수 같이 사용

def custom_print(*args, **kwargs):
    print(*args, **kwargs)

custom_print(1, 2, 3, sep=':', end='')

1:2:3

## 매개변수에 초깃값 지정하기

In [ ]:
# 초기값은 다음과 같이 함수를 만들 때 매개변수 = 값 형식으로 지정

def 함수이름(매개변수=값):
    코드

NameError: name '값' is not defined

In [ ]:
# 매개변수의 초깃값은 주로 사용하는 값이 있으면서 가끔 다른 값을 사용할 때 활용해야 함
# 대표적인 예) print -> sep 초깃값이 ''(공백)으로 지정되어 있어서 대부분 그대로 사용가능, 가끔 sep에 다른 값을 넣어서 사용

In [ ]:
# personal_info 함수에서 매개변수 address의 초깃값을 '비공개'로 지정

def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [ ]:
# 매개변수에 초깃삾이 지정되어 있더라도 해당 값을 넣으면 전달 됨

personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

## 초깃값이 지정된 매개변수 위치

In [ ]:
# 매개변수의 초기값을 지정할 때 주의할 점 -> 초깃값이 지정된 매개변수 다음에는 초기값 x

def personal_info(name, address='비공개', age):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

    # 즉 초기값이 지정된 매개변수는 뒤쪽으로 몰아주면 됨

def personal_info(name, age, address='비공개'):
  def personal_info(name, age=0, address='비공개'):
    def personal_info(name='비공개', age=0, address='비공개'):

SyntaxError: non-default argument follows default argument (<ipython-input-51-34ed5408cc85>, line 3)

## 연습문제 : 가장 높은 점수를 구하는 함수 만들기

In [ ]:
korean, english, mathmatics, science = 100, 86, 81, 91

def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathmatics, science)
print('높은 점수: ', max_score)


max_score = get_max_score(english, science)
print('높은 점수: ', max_score)

높은 점수:  100
높은 점수:  91

## 심사문제 : 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

In [ ]:
korean, english, mathmatics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(korean=0, english=0, mathmatics=0, science=0):
    a = [korean, english, mathmatics, science]
    c = 0
    for i in a:
      if i != 0:
        c += 1

    return (korean+english+mathmatics+science)/c


min_score, max_score = get_min_max_score(korean, english, mathmatics, science)
average_score = get_average(korean=korean, english=english,
                            mathmatics=mathmatics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0: .2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

76 82 89 84
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수:  82.00, 높은 점수: 84.00, 평균 점수: 83.00