<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/25_04_28_Python_%EC%88%98%EC%97%85(%EC%84%B8%ED%8A%B8_%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 세트 만들기

In [ ]:
# 세트는 {}(중괄호)안에 값을 지정하여 각 값은, (콤마)로 구분해줌

In [ ]:
# 세트는 요소의 순서가 정해져 있지 x
# 따라서 세트를 출력해보면 매번 요소의 순서가 다르게 나옴


fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [ ]:
# 세트에 들어가는 요소는 중복 x

fruits = {'orange','orange','cherry'}
fruits

{'cherry', 'orange'}

In [ ]:
# 세트는 리스트, 튜플, 딕셔너리와 달리 [](대괄호)로 특정 요소만 출력 x

fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print(fruits[0])

SyntaxError: invalid syntax (<ipython-input-6-a96a8704a9b8>, line 3)

In [ ]:
fruits['strawberry']

TypeError: 'set' object is not subscriptable

## 세트에 특정 값이 있는지 확인하기

In [ ]:
# 값 in 세트
# 세트에 특정 값이 있으면 True, 없으면 False가 나옴

fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

'orange' in fruits

True

In [ ]:
'peach' in fruits

False

In [ ]:
# 값 not in 세트
# 반대로 in 안에 not을 붙이면 특정 값이 없는지 확인 함

'peach' not in fruits

True

In [ ]:
'orange' not in fruits

False

## set을 이용하여 세트 만들기

In [ ]:
# set(반복가능한객체)

a = set('apple') # 유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [ ]:
# range를 사용하면 0부터 4까지 숫자를 가진 세트를 만들 수 있음

b = set(range(5))
b

{0, 1, 2, 3, 4}

In [ ]:
# 빈 세트는 아무것도 지정하지 않으면 됨

c = set()
c

set()

In [ ]:
# 단 세트가 {}를 사용한다고 해서 c = {}와 같이 만들면 빈 딕셔너리가 만들어짐
# type을 사용 = 자료형의 종류를 알 수 있음

c = {}
type(c)

dict

In [ ]:
c = set()
type(c)

set

## 한글 문자열을 세트로 만들기

In [ ]:
# set을 사용하여 한글 문자열을 세트로 만들면 다음과 같이 음절 단위로 만들어짐

set('안녕하세요')

{'녕', '세', '안', '요', '하'}

## 세트 안에 세트 넣기

In [ ]:
# 세트는 리스트, 딕셔너리와 달리 세트 안에 세트를 넣을 수 x

a = {{1, 2}, {3, 4}}

TypeError: unhashable type: 'set'

## 프로즌 세트

In [ ]:
# 파이썬은 내용을 변경할 수 없는 세트도 제공함
# 프로즌세트 = forzenset(반복가능한객체)

a = frozenset(range(10))
a

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
# frozenset는 집합 연산과 메서드에서 요소를 추가하거나, 삭제하는 연산, 메서드는 사용할 수 x

a = frozenset(range(10))
a|= 10

TypeError: unsupported operand type(s) for |=: 'frozenset' and 'int'

In [ ]:
a.update({10})

AttributeError: 'frozenset' object has no attribute 'update'

In [ ]:
# frozenset은 세트 안에 세트를 넣고 싶을 때 사용함
# frozenset은 중첩해서 넣을 수는 있지만, 일반 set 넣지 x

frozenset({frozenset({1, 2}), frozenset({3, 4})})

frozenset({frozenset({3, 4}), frozenset({1, 2})})

## 집합 연산 사용하기

In [ ]:
# 집합 연산은 파이썬의 산술 연산자와 논리 연산자 사용
# |연산자는 합집합을 구하며, OR연산자도 | 사용, set, union 메서드와 동작이 같음

# 세트 1 | 세트 2
# set.union(세트1, 세트2)

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [ ]:
set.union(a, b)

{1, 2, 3, 4, 5, 6}

In [ ]:
# &연산자는 교집합을 구하며, AND 연산자 &를 사용
# set.intersection 메서드와 동작이 ==

# 세트 1 & 세트 2
# set.intersection(세트1, 세트2)

a & b

{3, 4}

In [ ]:
set.intersection(a,b)

{3, 4}

In [ ]:
# -연산자는 차집합을 구하며 뺄셈 연산자를 사용
# set.difference 메서드와 동작이 같음

# 세트1 - 세트2
# set.difference(세트1, 세트2)

a - b

{1, 2}

In [ ]:
set.difference(a, b)

{1, 2}

In [ ]:
# ^연산자는 대칭차집합을 구하며, XOR 연산자 ^을 사용함
# set.symmetric_difference 메서드와 동작이 같음
# 대칭차집합은 XOR 연산자의 특성을 그대로 따르는데, 서로 다르면 참임
# 두 집합 중 겹치지 않는 요소만 포함하면 됨

# 세트1 ^ 세트 2
# set.symmetric_difference(세트 1, 세트 2)

a ^ b

{1, 2, 5, 6}

In [ ]:
set.symmetric_difference(a, b)

{1, 2, 5, 6}

## 집합 연산 후 할당 연산자 사용하기

In [ ]:
# 세트 자료형에 |, &, -, ^ 연산자와 할당 연산자 =를 함께 사용하면 집합 연산의 결과를 변수에 다시 저장함
# |=는 현재 세트에 다른 세트를 더하여 update 메서드와 같음

# 세트1 |= 세트2
# 세트1.update(세트2)

a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [ ]:
a = {1, 2, 3, 4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [ ]:
# &=은 현재 세트와 다른 세트 중에서 겹치는 요소만 현재 세트에 저장하여 itersection_update 메서드와 같음

# 세트1 &= 세트2
# 세트1.intersection_update({0, 1, 2, 3, 4})

a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [ ]:
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [ ]:
# -=는 현재 세트에서 다른 세트를 빼며 difference_update 메서드와 같음

# 세트1 -= 세트2
# 세트1.difference_update(세트2)

a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [ ]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [ ]:
# ^=은 현재 세트와 다른 세트 중에서 겹치지 않는 요소만 현재 세트에 저장함 -> symmetric_difference_update 메서드와 같음

# 세트1 ^= 세트2
# 세트1.symmetric_difference_update(세트2)

a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [ ]:
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})
a

{1, 2, 5, 6}

## 부분집합과 상위집합 확인하기

In [ ]:
# <=는 현재 세트가 다른 세트의 부분 집합인지 확인 -> issubset 메서드와 같음
# 다음은 세트 {1, 2, 3, 4}가 {1, 2, 3, 4}의 부분집합이므로 참

# 현재세트 <= 다른세트
# 현재세트.issubset(다른세트)

a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [ ]:
a.issubset({1, 2, 3, 4, 5})

True

In [ ]:
# <은 현재 세트가 다른 세트의 진부분집합 인지 확인하여 메서드 x
# 부분집합이지만 같지는 않을 때는 참임

# 현재세트 < 다른세트

a = {1, 2, 3, 4}
a < {1, 2, 3, 4, 5}

True

In [ ]:
# >=은 현재 세트가 다른 세트의 상위집합인지 확인 = issuperset 메서드와 같음

# 현재세트 >= 다른세트
# 현재세트.issuperset(다른세트)

a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

True

In [ ]:
a.issuperset({1, 2, 3, 4})

True

In [ ]:
# >은 현재 세트가 다른 세트의 진상위집합 인지 확인 -> 메서드 x

# 현재세트 > 다른세트

a = {1, 2, 3, 4}
a > {1, 2, 3}

True

## 세트가 같은지 다른지 확인하기

In [ ]:
# 세트는 == 연산자를 사용하여 서로 같은지 확인 가능
# 세트는 요소의 순서가 정해져 있지 않아 == 로 비교했을 때, 각 요소만 같으면 참

a = {1, 2, 3, 4}
a == {1, 2, 3, 4}

True

In [ ]:
a == {4, 2, 1, 3}

True

In [ ]:
# != 연산자는 세트가 다른지 확인

a = {1, 2, 3, 4}
a != {1, 2, 3}

True

## 세트가 겹치지 않는지 확인하기

In [ ]:
# disjoint는 현재 세트가 다른 세트와 겹치지 않는지 확인함
# 겹치는 요소가 없으면 True, 있으면 False 임

# 현재세트.isdisjoint(다른세트)

a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8}) # 겹치는 요소 x

True

In [ ]:
a.isdisjoint({3, 4, 5, 6}) # a와 3, 4가 겹침

False

## 세트 조작하기

## 세트에 요소를 추가하기

In [ ]:
# add(요소)는 세트에 요소를 추가함

a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

## 세트에서 특정 요소를 삭제하기

In [ ]:
# remove(요소)는 세트에서 특정 요소를 삭제하고 요소가 없으면 에러를 발생시킴

a.remove(3)
a

{1, 2, 4, 5}

In [ ]:
# discard(요소)는 세트에서 특정 요소를 삭제하고 요소가 없으면 그냥 넘어감

a.discard(2)
a

{1, 4, 5}

In [ ]:
a.discard(3)
a

{1, 4, 5}

## 세트에서 임의의 요소를 삭제하기

In [ ]:
# pop()은 세트에서 임의의 요소를 삭제하고 해당 요소를 반환함
# 만약 요소가 없으면 에러를 발생시킴

a = {1, 2, 3, 4}
a.pop()

1

In [ ]:
a

{2, 3, 4}

## 세트의 모든 요소를 삭제하기

In [ ]:
# clear()는 세트에서 모든 요소를 삭제시킴

a.clear()
a

set()

## 세트의 요소 개수 구하기

In [ ]:
# len() 세트는 세트의 요소 개수(길이)를 구함

a = {1, 2, 3, 4}
len(a)

4

## 세트의 할당과 복사

In [ ]:
# 세트도 리스트, 딕셔너리 처럼 할당과 복사의 차이점이 있음

a = {1, 2, 3, 4}
b = a

In [ ]:
# b = a를 서로 비교하면 실제로는 세트가 1개임
# 변수이름만 다를 뿐 a와 b는 같은 객체

a is b

True

In [ ]:
# a와 b는 같으므로 b에 요소를 추가하면 세트 a와 b에 모두 반영됨

b.add(5)
a

{1, 2, 3, 4, 5}

In [ ]:
b

{1, 2, 3, 4, 5}

In [ ]:
# 세트 a와 b를 완전히 두 개로 만들려면 copy 메서드로 모든 요소를 복사해야 함

a = {1, 2, 3, 4}
b = a.copy()

In [ ]:
# 두 세트의 객체는 다른 객체
# 복사한 요소는 같기 때문에 ==로 비교하면 True가 나옴

a is b

False

In [ ]:
a == b

True

In [ ]:
# 세트 a와 b는 별개이므로 한쪽의 값을 변경해도 다른 세트에 영향을 미치지 x

a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [ ]:
b

{1, 2, 3, 4, 5}

## 반복문으로 세트와 요소를 모두 출력하기

In [ ]:
# for로 세트 a의 요소를 출력
# 세트의 요소는 순서가 x, 출력할 때마다 순서가 달라짐(숫자로만 이루어진 세트는 순서대로 출력됨)

a = {1, 2, 3, 4}
for i in a:   # 세트 a에서 요소를 꺼내서 i에 저장 및 꺼낼 때 마다 코드 반복
    print(i) # print로 출력하면 요소 모두 출력

1
2
3
4

In [ ]:
# in 다음에 세트를 직접 지정해도 상관 x

for i in {1, 2, 3, 4}:
    print(i)

1
2
3
4

## 세트 표현식 사용하기

In [ ]:
# {식 for 변수 in 반복가능한객체}
# set(식 for 변수 in 반복가능한객체)

# {} 또는 set() 안에 식, for, 변수 in, 반복 가능한 객체를 지정하여 세트를 생성
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

## 세트 표현식에 if 조건문 사용하기

In [ ]:
# {식 for 변수 in 세트 if 조건식}
# set(식 for 변수 in 세트 if 조건식)

a = {i for i in 'pineapple' if i not in 'apl'} # 문자를 하나씩 비교하고 and로 연결하는 if 조건문과 같음
a

{'e', 'i', 'n'}

## 퀴즈

In [ ]:
# 다음 중 세트를 만드는 방법으로 올바르지 않은 것을 고르세요

# 답: b

In [ ]:
#  세트 a = {1, 2, 3} 그리고 b = {3, 4, 5}가 있을 때 집합 연산의 결과로 잘못된 것을 모두 고르시오

# 답 : b, e

In [ ]:
# 다음 중 부분집합, 상위집합에 대한 설명으로 잘못된 것을 모두 고르세요

# 답 : b, d

In [ ]:
# 다음 중 세트 메서드에 대한 설명으로 올바른 것을 모두 고르시오

# 답 : a, b, c

In [ ]:
# 다음 중 메서드와 연산자의 기능이 잘못 짝 지어진 것을 고르시오

# 답 : c, d

In [ ]:
# 다음 중 세트 {0, 1, 3, 4, 5, 6, 8, 9}를 만드는 방법으로 올바른 것을 고르시오

# 답 : a

## 심사문제 : 공배수 구하기

In [ ]:
a = {i for i in range(1, 101) if i % 3 == 0}
b = {i for i in range(1, 101) if i % 5 == 0}

print(a & b)

{75, 45, 15, 90, 60, 30}

In [ ]:
i

4

## 심사문제 : 공약수 구하기

In [ ]:
a, b = map(int, input().split())

a_set = {i for i in range(1, a + 1) if (a % i == 0)}
b_set = {i for i in range(1, a + 1) if (b % i == 0)}

divisor = a_set & b_set

result = 0
if type(divisor) == set:
    result = sum(divisor)

print(result)

10 20
18