<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/25_05_14_Python_%EC%88%98%EC%97%85(%EB%9E%8C%EB%8B%A4_%ED%91%9C%ED%98%84%EC%8B%9D_%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 람다 표현식으로 함수 만들기

In [3]:
# 람다 표현식을 사용하기 전에 먼저 숫자를 받은 뒤 10를 더해서 변하는 함수

def plus_ten(x):
    return x + 10 # 매개변수 x에 10을 더한 값을 반환

plus_ten(1)

11

In [4]:
# lambda 매개변수들: 식
# 람다 표현식을 익명 함수라고 부름

lambda x: x + 10 # 이대로 호출 x, 왜냐하면 람다 표현식은 이름이 없는 함수를 만들기 때문

In [5]:
plus_ten = lambda x: x+ 10 # 익명 함수 호출하려면 다음과 같이 람다 표현식을 변수에 할당
plus_ten(1)

11

## 람다 표현식 자체를 호출하기

In [6]:
# 람다 표현식은 변수에 할당 x, 표현식 자체를 바로 호출 가능
# 람다 표현식은 ()괄호로 묶은 뒤 다시 ()를 붙이고 인수를 넣어서 호출함

(lambda x: x + 10)(1)

11

## 람다 표현식 안에서는 변수를 만들 수 없다

In [10]:
# 람다 표현식 안에서는 새 변수를 만들 필요 x
# 따라서 반환값 부분은 변수 없이 식 한줄로 표현할 수 있어야 함
# 반드시 필요에 따라서는 def도 필요!!

# 단 람다 표현식 바깥에 있는 변수는 사용할 수 o
(lambda x: y = 10; x + y)(1)

SyntaxError: invalid syntax (<ipython-input-10-582c463cfb89>, line 5)

In [9]:
# 매개변수 x와 람다 표현식 바깥에 있는 변수 y를 더해서 반환

y = 10
(lambda x:x + y)(1)

11

## 람다 표현식을 인수로 사용하기

In [11]:
# 람다 표현식을 사용하는 이유 -> 함수의 인수 부분에서 간단하게 함수를 만들기 위함
# 대표적인 예) map

def plus_ten(x):
    return x + 10

list(map(plus_ten, [1,2,3]))

[11, 12, 13]

In [12]:
# 람다 표현식으로 함수 만들어서 map에 넣음

list(map(lambda x: x + 10, [1,2,3]))

[11, 12, 13]

## 람다 표현식으로 매개변수가 없는 함수 만들기

In [13]:
# 매개변수가 없는 함수를 만들 때는 lambda 뒤에 아무것도 저장하지 않고 :(콜론)을 붙임
# 단 콜론 뒤에는 반드시 반환값이 있어야 함
# 표현식은 반드시 값으로 평가되기 때문!!

(lambda : 1)()

1

In [14]:
x = 10
(lambda : x)()

10

## 람다 표현식과 map, filter, reduce 함수 활용하기

In [15]:
# lambda 매개변수들 : 식1 if 조건식 else 식2
# lambda의 반환값도 요소!!
# 하지만 람다 안에서 if, else 문 사용 할 때는 :(콜론)을 붙이지 x

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x % 3 == 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [17]:
# 람다 표현식에서 if를 사용하면 else를 반드시 사용해야 함
# 만약 if만 사용하면 문법 에러가 발생함

list(map(lambda x: str(x) if x % 3 == 0, a))

SyntaxError: expected 'else' after 'if' expression (<ipython-input-17-30dc23f5cb6f>, line 4)

In [18]:
# 그리고 람다 표현식 안에서 elif 사용 x
# lambda 매개변수들: 식1 if 조건식1 else 식2 if 조건식2 else 식3

# 요 코드는 권장 X
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x == 1 else float(x) if x == 2 else x + 10, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
def f(x):
  if x == 1:
      return str(x)
  elif x == 2:
      return float(x)
  else:
      return x + 10

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(f, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

## map에 객체를 여러 개 넣기

In [20]:
# map은 리스트 등의 반복 가능한 객체를 여러 개 넣을 수 있음

a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
list(map(lambda x, y: x * y, a, b))

[2, 8, 18, 32, 50]

## filter 사용하기

In [22]:
# filter는 반복 가능한 객쳉서 특정 조건에 맞는 요소만 가져오는데, filter에 지정한 함수의 반환값이 True 일 때 해당 요소를 가져옴

# filter(함수, 반복가능한객체)

def f(x):
    return x > 5 and x < 10

a = [8, 3, 2, 10, 15, 7, 11, 9, 0, 11]
list(filter(f, a))

[8, 7, 9]

In [24]:
# 람다 식으로 만든 filter

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(lambda x: x > 5 and x < 10, a))

[8, 7, 9]

## reduce 사용하기

In [25]:
# reduce는 반복 가능한 객체의 각 요소를 지정된 함수로 처리 한뒤, 이전 결과와 누적해서 반환하는 함수

# from functools import reduce
# reduce(함수, 반복가능한객체)

def f(x, y):
  return x + y

a = [1, 2, 3, 4, 5]
from functools import reduce
reduce(f, a)

15

In [26]:
# 람다 표현식으로 만들어서 사용하기

a = [1, 2, 3, 4, 5]
from functools import reduce
reduce(lambda x, y: x + y, a) # 매개변수 x, y를 지정한 뒤, x와 y를 더한 결과를 반환

15

## map, filter, reduce와 리스트 표현식

In [27]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
[i for i in a if i > 5 and i < 10]

[8, 7, 9]

In [28]:
# 리스트 표현식을 사용한다면??

a = [1, 2, 3, 4, 5]
x = a[0]
for i in range(len(a) - 1):
    x = x + a[i + 1]

x

15

## 연습문제: 이미지 파일만 가져오기

In [29]:
files = ['font', '1.png', '10.jpg', '11.gif', '2.jpg', '3.png', 'table.xslx', 'spec.docx']

print(list(filter(lambda x: x.find('.jpg') != -1 or x.find('.png') != -1, files)))

['1.png', '10.jpg', '2.jpg', '3.png']

## 심사문제 : 파일 이름을 한꺼번에 바꾸기

In [34]:
## 다시 복습해보기!!

files = input().split()

print(list(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]),x.split('.')[1]) ,files)))

1.jpg 10.png 11.png 2.jpg 3.png
['001.jpg', '010.png', '011.png', '002.jpg', '003.png']