<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/COS_Pro_2%EA%B8%89(%ED%8C%8C%EC%9D%B4%EC%8D%AC)_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3. Hello, world!로 시작하기

In [ ]:
print('Hello, world!') # 문자열 출력

Hello, world!

In [ ]:
# 연습문제 : 문자열 출력하기

print('Hello, world!')
print('12345x7890')

Hello, world!
12345x7890

# Unit 4. 기본 문법 알아보기

## 4.1 세미콜론

In [ ]:
## 많은 프로그래밍 언어들은 구문이 끝날 때 ; (세미콜론)을 붙여야 함, 하지만 파이썬은 x

print('Hello, world!')
print('Hello'); print('1234')

Hello, world!
Hello
1234

## 4.2 주석

In [ ]:
## 파이썬에서 사람만 알아볼 수 있도록 작성하는 부분 -> 주석

#print('Hello, world')

a = 1 + 2 # 더하기
print('Hello, world!') # printf('1234567890')

#print('Hello, world!')
#print('1234567890')

# 더하기
# a = 1 + 2
# print('Hello, world!')

Hello, world!

## 4.3 들여쓰기

In [ ]:
# 코드를 읽기 쉽도록 일정한 간격을 띄워서 작성하는 방법

if a == 10:
    print('10입니다.') # 들여쓰기 문법 에러

In [ ]:
# 파이썬

if a == 10:
    print('10입니다.')
# 들여쓰기 공백 4칸

## 4.4 코드 블록

In [ ]:
# 특정한 동작을 위해서 코드가 모여 있는 상태
# , 같은 블록은 들여쓰기 칸 수가 같아야 하고, 공백과 탭 문자를 섞어 쓰면 안 됨


if a == 10:
    print('10')
    print('입니다.')

# Unit 5. 숫자 계산하기

In [ ]:
1 + 1

2

In [ ]:
1 - 2

-1

In [ ]:
2 * 2

4

In [ ]:
5  / 2

2.5

In [ ]:
## 정수 나눗셈의 결과를 정수로 만들고 싶다면?

int(5 / 2)

2

## 5.2 실수 계산하기

In [ ]:
3.5 + 2.1

5.6

In [ ]:
4.3 - 2.7

1.5999999999999996

In [ ]:
1.5 * 3.1

4.65

In [ ]:
5.5 / 3.1

1.7741935483870968

In [ ]:
4.2 + 5

9.2

In [ ]:
# 계산 결과를 실수로 만들고 싶다면?

float(1 + 2)

3.0

In [ ]:
# 복소수

1.2+1.3j
complex(1.2, 1.3)

(1.2+1.3j)

## 5.5 연습문제: 스킬 공격력 구하기

In [ ]:
print(225 + (0.6 * 102))

286.2

# Unit 6. 변수 사용하기

## 6.1 변수 만들기

In [ ]:
x = 10
x

10

In [ ]:
x = 10
print(x) # print로 변수의 값 출력

10

## 6.2 빈 변수 만들기

In [ ]:
x = None
x

In [ ]:
# 보총 빈 값을 출력할때는 None 이라는 값을 사용함

print(x)

None

## 6.3 변수의 값 변경하기

In [ ]:
x = 10  # 변수 만들기
x

10

In [ ]:
x = 20  # 변수의 값을 20으로 변경
x

20

In [ ]:
x = 30 + 40 # 변수의 값을 30 + 40의 결과로 변경
x

70

## 6. 4 변수 여러 개를 한 번에 만들기

In [ ]:
x , y, z = 10, 20, 30

In [ ]:
x

10

In [ ]:
y

20

In [ ]:
z

30

In [ ]:
x = y = z = 10

In [ ]:
x

10

In [ ]:
y

10

In [ ]:
z

10

## 6.5 변수에 변수 할당하기

In [ ]:
# 변수에는 값 뿐만이 아니라 다른 변수도 할당 할 수 있음

x = 10
y = x
y

10

In [ ]:
a, b = 10, 20
x, y = a, b

In [ ]:
x

10

In [ ]:
y

20

In [ ]:
x = 10
y = 20
x, y = y, x

In [ ]:
x

20

In [ ]:
y

10

In [ ]:
# 변수 삭제하기

x = 10
del x

## 6.7 연습문제: 변수 만들기

In [ ]:
a = b = 10
c, d = 20, None

print(a)
print(b)
print(c)
print(d)

10
10
20
None

# Unit 7. 문자열 사용하기

## 7.1 문자열을 변수에 저장하기

In [ ]:
# 변수에 문자열을 할당하면 문자열이 저장됨

hello1 = 'Hello, world!'
print(hello1)

Hello, world!

In [ ]:
# 문자열을 사용할 때는 주로 작은 따옴표를 사용함

hello2 = "Hello, world!"
print(hello2)

Hello, world!

In [ ]:
# 참고로 한글 문자열도 사용할 수 있음

hello3 = '안녕하세요'
print(hello3)

안녕하세요

In [ ]:
# 여러 줄로 된 문자열을 변수에 저장 함

hello = '''Hello, world!
안녕허세요.
Python입니다.'''
print(hello)

Hello, world!
안녕허세요.
Python입니다.

In [ ]:
single_quote = '''"안녕하세요."
'파이썬'입니다.'''

double_quote1 = """"Hello"
'Python'"""

double_quote2 = """Hello, 'Python'"""    # 한 줄로 작성

print(single_quote)
print(double_quote1)
print(double_quote2)

"안녕하세요."
'파이썬'입니다.
"Hello"
'Python'
Hello, 'Python'

## 7.2 문자열의 길이 구하기

In [ ]:
hello = "Hello, world!"
len(hello)

13

In [ ]:
hello = '안녕하세요'
len(hello)

5

## 7.3 문자열을 연결하고 반복하기

In [ ]:
# 문자열 연결하기
hello = 'Hello, '
world = 'world!'
hello + world

'Hello, world!'

In [ ]:
# 문자열 반복
hello * 3

'Hello, Hello, Hello, '

In [ ]:
'Hello, ' + 'world!'

'Hello, Hello, Hello, '

In [ ]:
'Hello, ' * 3

'Hello, Hello, Hello, '

In [ ]:
# 문자열 + str(정수, 실수)

'Hello, ' + str(10)

'Hello, 10'

In [ ]:
'Hello, ' + str(1.5)

'Hello, 1.5'

## 7.5 연습문제: 문자열의 길이 출력하기

In [ ]:
s = 'Hello, Python'

print('s의 길이는 ' + str(len(s)) + '입니다.')

s의 길이는 13입니다.

# Unit 8. 입력 값을 변수에 저장하기

## 8.1 문자열 입력받기

In [ ]:
input()

안녕하세요

'안녕하세요'

In [ ]:
input('문자열을 입력하세요: ')

문자열을 입력하세요: Hello, world!

'Hello, world!'

In [ ]:
s = input('문자열을 입력하세요: ')

print(s)

문자열을 입력하세요: Hello, world
Hello, world

## 8.2 숫자 입력받기

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a + b)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
12

In [ ]:
## 숫자로 문자열 입력받기

a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

print(a + b)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
3

In [ ]:
## 실수로 숫자 입력받기

a = float(input('첫 번째 숫자를 입력하세요: '))
b = float(input('두 번째 숫자를 입력하세요: '))

print(a + b)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 3
4.0

## 8.3 한 번에 값 두 개 입력받기

In [ ]:
a, b = input('문자열 두 개를 입력하세요: ').split()

a = int(a)
b = int(b)

print(a + b)

문자열 두 개를 입력하세요: 30 40
70

In [ ]:
print(int(a) + int(b))

70

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())

print(a + b)

숫자 두 개를 입력하세요: 4 5
9

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(','))

print(a + b)

숫자 두 개를 입력하세요: 30,40
70

## 8.5 연습문제 : 한 번에 정수 세 개 입력받기

In [ ]:
a, b, c = map(int, input().split())

print(a + b + c)

10 20 30
60

# Unit 9. 출력 방법 알아보기

## 9.1 값을 여러 개 출력하기

In [1]:
# print에는 변수나 값 여러 개를 ,(콤마)로 구분하여 넣을 수 있음

print(1, 2, 3)

1 2 3

In [2]:
print('Hello', 'Python')

Hello Python

In [3]:
# 값 사이에 공백이 아닌 다른 문자를 넣고 싶다면

print(1, 2, 3, sep=', ') # sep에 콤마와 공백을 지정

1, 2, 3

In [4]:
print(4,5,6, sep=',')

4,5,6

In [5]:
print('Hello', 'Python', sep='')

HelloPython

In [6]:
print(1920, 1080, sep='x')

1920x1080

## 9.2 줄바꿈 활용하기

In [7]:
print(1, 2, 3)

1 2 3

In [8]:
print(1,2,3, sep='\n')

1
2
3

In [9]:
print('1\n2\n3')

1
2
3

In [10]:
print(1)
print(2)
print(3)

1
2
3

In [11]:
# 한 줄에 여러 개의 값을 출력할 수 있다면

print(1, end='')
print(2, end='')
print(3)

123

In [12]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

## 9.4 연습문제: 날짜와 시간 출력하기

In [20]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end=' ' )
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

# Unit 10. 산술 연산자 알아보기

In [21]:
10 + 20

30

In [22]:
10 - 20

-10

In [23]:
10 * 20

200

In [24]:
5 / 2

2.5

In [25]:
5 // 2

2

In [26]:
int(5 / 2)

2

In [27]:
5 // 2

2

In [28]:
5 % 2

1

In [29]:
2 ** 10

1024

In [30]:
# 몫과 나머지를 함께 구하기

divmod(5, 2)

(2, 1)

In [31]:
quotient, remainder = divmod(5, 2)
print(quotient, remainder)

2 1

In [32]:
# 부호를 붙여야 하는 경우
x = -10

In [33]:
+x

-10

In [34]:
-x

10

## 10.2 산술 연산 후 할당 연산자 사용하기

In [36]:
a = 10
b = 20
a += b
a

30

In [ ]:
a += b # a와 b를 더한 후 결과를 다시 a에 저장
a = a + b

In [37]:
# 나머지 연산 할당

a = 5
b = 2
a %= b
a

1

## 10.3 괄호 사용하기

In [39]:
35 + 1 * 2

37

In [40]:
# 곱셈보다 덧셈을 먼저 계산하고 싶다면

(35 + 1) * 2

72

## 10.5 연습문제: 점수 평균 구하기

In [41]:
korean = 94
english = 91
mathematics = 89
science = 83

average = ((korean + english + mathematics + science) / 4)
print(average)

89.25

# Unit 11. 불과 비교, 논리 연산자 알아보기

## 11.1 불과 비교 연산자 사용하기

In [43]:
# 불은 True, False로 표현하며 1, 3.6. 'Python' 처럼 값의 일종

True

True

In [44]:
False

False

In [45]:
3 > 1

True

In [46]:
10 == 10

True

In [47]:
10 != 5

True

In [48]:
'Python' == 'Python'

True

In [49]:
'Python' != 'python'

True

In [50]:
10 > 20

False

In [51]:
10 < 20

True

In [52]:
10 >= 10

True

In [53]:
10 <= 10

True

In [54]:
1 == 1.0

True

In [56]:
1 is 1.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-3336455986.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is 1.0

False

## 11.2 논리 연산자 사용하기

In [59]:
# a and b
# 두 값이 모두 True라야 True임

True and True
True and False
False and True
False and False

False

In [62]:
# a or b
# 두 값 중 하나라도 True이면 True
True or True
True or False
False or True
False or False

False

In [65]:
# not
# 논리값을 뒤집음

10 == 10 and 10 != 5
10 > 5 or 10 < 3
not 10 > 5

False

## 11.4 연습문제 : 합격 여부 출력하기

In [67]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean >= 50 and english >= 50 and  mathematics >= 50 and science >= 50)

False

# Unit 12.  if 조건문으로 특정 조건일 때 코드 실행하기

## 12.1 if 조건문 사용하기

In [ ]:
if 조건식:
      코드

In [68]:
x = 10
if x == 10:
    print('10입니다.')

10입니다.

In [69]:
x = 10
if x == 10:
    pass

## 12.2 if 조건문과 들여쓰기

In [71]:
x = 10

if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다')

x에 들어있는 숫자는
10입니다

In [72]:
x = 10

if x == 10:
      print('x에 들어있는 숫자는'
print('10입니다.')

SyntaxError: '(' was never closed (ipython-input-4188596956.py, line 4)

In [73]:
x = 5

if x == 10:
    print('x에 들어있는 숫자는')
print('10입니다.')

10입니다.

## 12.3 중첩 if 조건문 사용하기

In [74]:
x = 15

if x >= 10:
    print('10 이상입니다.')

    if x == 15:
          print('15입니다.')

    if x == 20:
          print('20입니다.')

10 이상입니다.
15입니다.

## 12.4 사용자가 입력한 값에 if 조건문 사용하기

In [76]:
x = int(input())

if x == 10:
    print('10입니다.')

if x == 20:
    print('20입니다.')

20
20입니다.

## 12.6 연습문제

In [77]:
x = 5

if x != 10:
    print('ok')

ok