<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/HCI_%EC%97%B0%EA%B5%AC%EC%9B%90_study(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 7월 23일 (수)

In [4]:
# 숫자형, 문자열 변수 선언

age = 25
name = "홍길동"
height = 174.2
print(age, type(age))
print(name, type(name))
print(height, type(height))

25 <class 'int'>
홍길동 <class 'str'>
174.2 <class 'float'>

In [5]:
# 사용자 입력값 받아서 활용해보기
user_name = input("이름을 입력해주세요: ")
print("안녕하세요,",user_name)

이름을 입력해주세요: 심유성
안녕하세요, 심유성

In [6]:
# 여러 데이터 다루기
scores = [90, 85, 77, 100]
print("첫번째 점수: ", scores[0])
print("전체 평균: ", sum(scores)/len(scores))

첫번째 점수:  90
전체 평균:  88.0

In [7]:
# 미션 1

name = input("이름을 입력해 주세요: ")
age = input("나이를 입력해 주세요: ")
job = input("전공을 입력해 주세요: ")

print("당신의 이름은", name, "이고 나이는", age, "이고 전공은", job, "입니다.")

이름을 입력해 주세요: 심유성
나이를 입력해 주세요: 23
전공을 입력해 주세요: IT응용공학과
당신의 이름은 심유성 이고 나이는 23 이고 전공은 IT응용공학과 입니다.

In [2]:
# 미션 2
# 숫자형 리스트에서 최대값, 최소값, 평균 구해보기

num = [70, 89, 60, 80, 100]

print(max(num))
print(min(num))
print(sum(num)/ 5)

100
60
79.8