<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/HCI_%EC%97%B0%EA%B5%AC%EC%9B%90_study(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 7월 23일 (수)

In [ ]:
# 숫자형, 문자열 변수 선언

age = 25
name = "홍길동"
height = 174.2
print(age, type(age))
print(name, type(name))
print(height, type(height))

25 <class 'int'>
홍길동 <class 'str'>
174.2 <class 'float'>

In [ ]:
# 사용자 입력값 받아서 활용해보기
user_name = input("이름을 입력해주세요: ")
print("안녕하세요,",user_name)

이름을 입력해주세요: 심유성
안녕하세요, 심유성

In [ ]:
# 여러 데이터 다루기
scores = [90, 85, 77, 100]
print("첫번째 점수: ", scores[0])
print("전체 평균: ", sum(scores)/len(scores))

첫번째 점수:  90
전체 평균:  88.0

In [ ]:
# 미션 1

name = input("이름을 입력해 주세요: ")
age = input("나이를 입력해 주세요: ")
job = input("전공을 입력해 주세요: ")

print("당신의 이름은", name, "이고 나이는", age, "이고 전공은", job, "입니다.")

이름을 입력해 주세요: 심유성
나이를 입력해 주세요: 23
전공을 입력해 주세요: IT응용공학과
당신의 이름은 심유성 이고 나이는 23 이고 전공은 IT응용공학과 입니다.

In [ ]:
# 미션 2
# 숫자형 리스트에서 최대값, 최소값, 평균 구해보기

num = [70, 89, 60, 80, 100]

print(max(num))
print(min(num))
print(sum(num)/ 5)

100
60
79.8

## 7월 26일

In [1]:
# 리스트 생성 및 기본 연산

fruits = ["apple", "banana", "cherry"]
print("과일 목록:", fruits)
print("첫 번째 과일:", fruits[0])
print("전체 과일 개수: ", len(fruits))

과일 목록: ['apple', 'banana', 'cherry']
첫 번째 과일: apple
전체 과일 개수:  3

In [2]:
# 좋아하는 영화, 음악, 책 3-5개 리스트로 만들고, 하나씩 출력해보기

likes = ["tomorrow lend", "Mr.Moonlight", "android unexpected history"]
print("영화 제목:", likes[0])
print("제일 좋아하는 영화: ", likes[1])
print("책: ", likes[2])

영화 제목: tomorrow lend
제일 좋아하는 영화:  Mr.Moonlight
책:  android unexpected history

In [3]:
# 반복문(for) 기초
# 리스트 내 모든 원소 순회하며 출력

for fruit in fruits:
    print("맛있는: ", fruit)

맛있는:  apple
맛있는:  banana
맛있는:  cherry

In [ ]:
# 딕셔너리(Dictionary)
# 딕셔너리 선언 및 사용

# 딕셔너리 선언 및 사용
user_info = {"이름": "민수", "나이": 22, "전공": "IT응용공학"}
print("사용자 정보:", user_info)
print("이름:", user_info["이름"])
print("전공:", user_info.get("전공"))

In [4]:
# 간단 데이터 분석 실습

scores = [82, 95, 77, 88, 100]
print("최대 점수: ", max(scores))
print("최소 점수: ", min(scores))
print("평균 점수: ", sum(scores) / len(scores))

최대 점수:  100
최소 점수:  77
평균 점수:  88.4

In [5]:
# 미션

scores = [77, 87, 56, 67, 86, 97]
print("최대 점수: ", max(scores))
print("최소 점수: ", min(scores))
print("평균 점수: ", sum(scores) / len(scores))

최대 점수:  97
최소 점수:  56
평균 점수:  78.33333333333333

In [7]:
# 간단 미니 프로젝트

friend1 = {"이름": "우진", "나이": 23, "연락처" : "010-1234-5678"}
friend2 = {"이름": "혜지", "나이": 25, "연락처" : "010-2345-6756"}
friend3 = {"이름": "지연", "나이": 24, "연락처" : "010-3456-5678"}
friends = [friend1, friend2, friend3]
for f in friends:
    print(f["이름"], f["나이"], f["연락처"])

우진 23 010-1234-5678
혜지 25 010-2345-6756
지연 24 010-3456-5678