<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/%EA%B5%AC%EB%A6%84(%ED%95%9C%EB%88%88%EC%97%90_%EC%9D%BD%EB%8A%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC3_%EA%B8%B0%EC%B4%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 04.문자열(string)

In [ ]:
str1 = "Hello"
str2 = "goorm: !@#$%^&*()\|/"
str3 = "3"

print(str1, str2, str1 + str3)

Hello goorm: !@#$%^&*()\|/ Hello3

In [ ]:
## 따음표를 문자열로 표현하고 싶을 때

str1 = 'He said "I love you"'
str2 = "It's so beautiful"
str3 = """My name is "goorm" """
str4 = '''It's an apple'''

print(str1)
print(str2)
print(str3)
print(str4)

He said "I love you"
It's so beautiful
My name is "goorm"
It's an apple

In [ ]:
str1 = "한 눈에 읽는\n파이썬3"
str2 = '설치가 필요없는 클라우드 IDE, 구름IDE'
str3 = '''이스케이프 시퀀스를
배워봅시다.'''
str4 = """한 눈에 읽는
파이썬3"""

print(str1)
print(str2)
print(str3)
print(str4)

한 눈에 읽는
파이썬3
설치가 필요없는 클라우드 IDE, 구름IDE
이스케이프 시퀀스를
배워봅시다.
한 눈에 읽는
파이썬3

## 이스케이프 시퀀스

In [ ]:
str1 = "한 눈에 읽는\n파이썬3"
str2 = '설치가 필요없는 클라우드 IDE, \n구름IDE'
str3 = '''이스케이프 시퀀스를\n배워봅시다.'''
str4 = """한 눈에 읽는\nPython3"""

print(str1)
print(str2)
print(str3)
print(str4)

한 눈에 읽는
파이썬3
설치가 필요없는 클라우드 IDE,
구름IDE
이스케이프 시퀀스를
배워봅시다.
한 눈에 읽는
Python3

## 문자열 연산

In [ ]:
# 문자열의 덧셈

str1 = "Hello"
str2 = "goorm!"
result = str1 + str2
print(result)

Hellogoorm!

In [ ]:
# 문자열의 곱셈

str = "Hello "
num = 5
result = str * num
print(result)

Hello Hello Hello Hello Hello

## 인덱싱과 슬라이싱

In [ ]:
# 인덱스는 수많은 데이터 중 원하는 항목을 쉽게 찾을 수 있도록 기록된 표기
# 문자열은 바로 2진수로 바꿀 수 없기에, 아스키코드(ASCII CODE)를 사용

print(ord("A"))
print(chr(65))

65
A

In [ ]:
# 인덱싱은 문자열에 포함된 각 문자에 대해 순차적으로 번호를 매기는 것

str = "apple"
print("str의 첫 번째 문자는 ", str[0], "네 번째 문자는", str[3])

str의 첫 번째 문자는  a 네 번째 문자는 l

In [ ]:
# 인덱스를 문자연산 사용

a = "Hello goorm!"
b = a[4] + a[5] + a[6]
print(a[0], a[1], a[2], a[3], a[4])
print(b)

H e l l o
o g

In [ ]:
a = "Hello goorm!"
b = a[-1] + a[-2] + a[-3]
c = a[-0]
print(b)
print(c)

!mr
H

## 슬라이싱

In [ ]:
a = "Hello goorm!"
b = a[0:5]
print(b)

Hello

In [ ]:
a = "Hello goorm!"

b = a[:5]
c = a[5:]
print(b)
print(c)

Hello
 goorm!

In [ ]:
a = "Hello goorm!"

b = a[0:-5]
c = a[6:-11]
print(b)
print(c)

Hello g

## 문자열 포매팅1

In [ ]:
city = "seoul"
today = 12
day = "화요일"
temperature = 26

#정수형 temperature은 문자열과 덧셈 불가 -> str(문자열)로 형변환
announcement = city + "의 " + str(today) + "일 " +day + " 기온은 " + str(temperature) + "도 입니다."

#1번 방법
print(city,"의",today,"일",day,"기온은",temperature,"도 입니다.")
#2번 방법
print(announcement)

TypeError: 'str' object is not callable

In [ ]:
city = "seoul"
today = 12
day = "화요일"
temperature = 26
announcement = "%s의 %d일 %s 기온은 %d도 입니다." %(city, today, day, temperature)

print("%s의 %d일 %s 기온은 %d도 입니다." %(city, today, day, temperature)) #1번 방법
print(announcement) #2번 방법

seoul의 12일 화요일 기온은 26도 입니다.
seoul의 12일 화요일 기온은 26도 입니다.

In [ ]:
name = "goorm"
age = 25
height = 181.523456

print("저의 이름은 %s입니다." %name)

print("저는 %d살입니다." %25)
print("제 나이는 %d살입니다." %age)
print("제 나이는 %s살입니다." %age)
print("제 나이는 %.2f살입니다." %age)

print("저의 키는 %fcm입니다." %height)
print("저의 키는 %.2fcm입니다." %height)
print("저의 키는 %dcm입니다." %height)

print("저의 성은 '%c'입니다." %"남")

print("저의 나이는 16진수로 표현하면 %x, 8진수로 표현하면 %o입니다." %(age, age))

print("%10d %010d" %(10, 10))

#'김구름'을 포함하여 8칸의 공간 발생 -> 공백 5칸 + 김구름 3칸
print("%8s %8d %8s" %("김구름", 6, "컴퓨터공학"))
print("%-8s %-8d %-8s" %("김구름", 6, "컴퓨터공학"))

저의 이름은 goorm입니다.
저는 25살입니다.
제 나이는 25살입니다.
제 나이는 25살입니다.
제 나이는 25.00살입니다.
저의 키는 181.523456cm입니다.
저의 키는 181.52cm입니다.
저의 키는 181cm입니다.
저의 성은 '남'입니다.
저의 나이는 16진수로 표현하면 19, 8진수로 표현하면 31입니다.
        10 0000000010
     김구름        6    컴퓨터공학
김구름      6        컴퓨터공학

## 문자열 포맷팅 2

In [ ]:
# 변수 이름으로 대입

print("저의 이름은 {1}입니다. 그리고 나이는 {age}살이고 키는 {0}cm입니다. 제 가장 친한 친구는 {name}입니다.".format(181.12, "김구름",height = 181.123, age = 25, name = "박에듀"))

저의 이름은 김구름입니다. 그리고 나이는 25살이고 키는 181.12cm입니다. 제 가장 친한 친구는 박에듀입니다.

In [ ]:
print("{length: >10d}".format(length = 30))
# 공백문자: (공백) ,정렬: 오른쪽 정렬, 폭: 10
# 순서대로 입력해야하고 생략 가능

print("{0:0^10}".format("goorm"))
# 공백문자: 0 ,정렬: 가운데 정렬, 폭: 10
# 순서대로 입력해야하고 생략 가능

print("{height:!>13.2f}".format(height = 181.24363))
# 공백문자: ! ,정렬: 오른쪽 정렬, 폭: 13, 소수점 2자리 표시
# 순서대로 입력해야하고 생략 가능

        30
00goorm000
!!!!!!!181.24

In [ ]:
name = "김구름"
age = 25
height = 181.123
print(f"저의 이름은 {name}입니다. 그리고 나이는 {age+10}살이고 키는 {height:!^10.2f}cm입니다.")

저의 이름은 김구름입니다. 그리고 나이는 35살이고 키는 !!181.12!!cm입니다.

## 문자열 함수

In [ ]:
str = " Hello goorm! I study Python.  "

num = str.count(' ') #빈칸의 개수
print("빈칸의 개수는 %d입니다." %num)
print("처음 등장하는 'l'의 인덱스 값은 %d입니다." %str.find('l'))
print("Good day에서 처음 등장하는 'y'의 인덱스 값은 %d입니다." %"Good day".index('y'))

print(" ".join(str))
print(str.upper())
print(str.lower())
print(str.lstrip())
print(str.rstrip())
print(str.replace('Python', 'C'))
print(str.split())

빈칸의 개수는 7입니다.
처음 등장하는 'l'의 인덱스 값은 3입니다.
Good day에서 처음 등장하는 'y'의 인덱스 값은 7입니다.
  H e l l o   g o o r m !   I   s t u d y   P y t h o n .
 HELLO GOORM! I STUDY PYTHON.
 hello goorm! i study python.
Hello goorm! I study Python.
 Hello goorm! I study Python.
 Hello goorm! I study C.
['Hello', 'goorm!', 'I', 'study', 'Python.']

In [ ]:
sentence = "I like studying Python"
print(len(sentence), len("goorm"))

22 5

## 값의 집합: 리스트

In [ ]:
oddnumber = [1, 3, 5, 7, 9]
cafes = ['star', 'bene', 'yoger', 'friends']
A = [1, 5, 'A', 'CC', 'B']
listInList = [[1, 3, 5, 6, 7], cafes, oddnumber, 1, 3, 'Abc']

print(oddnumber)
print(cafes)
print(A)
print(listInList)

[1, 3, 5, 7, 9]
['star', 'bene', 'yoger', 'friends']
[1, 5, 'A', 'CC', 'B']
[[1, 3, 5, 6, 7], ['star', 'bene', 'yoger', 'friends'], [1, 3, 5, 7, 9], 1, 3, 'Abc']

In [ ]:
## 인덱싱과 슬라이싱

oddnumber = [1, 3, 5, 7, 9]
cafes = ['star', 'bene', 'yoger', 'friends']
A = [1, 5, 'A', 'CC', 'B']
listInList = [[1, 3, 5, 6, 7], cafes, oddnumber, 1, 3, 'Abc']

a = oddnumber[3]
b = cafes[1]
c = A[2]
d = listInList[0][1] #리스트 내 리스트 접근

print(a)
print(b)
print(c)
print(d)
print(a + d, oddnumber[4] * listInList[4]) #숫자 + 숫자 연산 가능
print(b + c) #문자열 + 문자열: 문자열 합하기

7
bene
A
3
10 27
beneA

In [ ]:
oddnumber = [1, 3, 5, 7, 9]
cafes = ['star', 'bene', 'yoger', 'friends']
A = [1, 5, 'A', 'CC', 'B']
listInList = [[1, 3, 5, 6, 7], cafes, oddnumber, 1, 3, 'Abc']

a = oddnumber[1:5]
b = cafes[1:]
c = A[:2]
d = listInList[0][1:4] #리스트 내 리스트 접근

print(a)
print(b)
print(c)
print(d)

[3, 5, 7, 9]
['bene', 'yoger', 'friends']
[1, 5]
[3, 5, 6]

In [ ]:
## 리스트 연산과 수정

evennumbers = [2, 4, 6, 8, 10]
oddnumbers = [1, 3, 5, 7, 9]

numbers = evennumbers + oddnumbers
print(numbers)
print(numbers * 4)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [ ]:
## 리스트 수정

numbers = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

numbers[4] = 100
print(numbers)

numbers[2] = "hello"
print(numbers)

numbers[0] = numbers[9]
print(numbers)

numbers[8] = ['a', 'b', 'c']
print(numbers)

[2, 4, 6, 8, 100, 1, 3, 5, 7, 9]
[2, 4, 'hello', 8, 100, 1, 3, 5, 7, 9]
[9, 4, 'hello', 8, 100, 1, 3, 5, 7, 9]
[9, 4, 'hello', 8, 100, 1, 3, 5, ['a', 'b', 'c'], 9]

In [ ]:
numbers = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

numbers[4:5] = [80]
print(numbers)

numbers[2:6] = "hello"
print(numbers)

numbers[2:3] = ['a','b','c']
print(numbers)

numbers[8] = ['a', 'b', 'c'] #리스트 전체를 형태 유지하며 대입
print(numbers)

numbers[:] = [1]
print(numbers)

[2, 4, 6, 8, 80, 1, 3, 5, 7, 9]
[2, 4, 'h', 'e', 'l', 'l', 'o', 3, 5, 7, 9]
[2, 4, 'a', 'b', 'c', 'e', 'l', 'l', 'o', 3, 5, 7, 9]
[2, 4, 'a', 'b', 'c', 'e', 'l', 'l', ['a', 'b', 'c'], 3, 5, 7, 9]
[1]

In [ ]:
## 리스트 삭제

numbers = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

#값만 삭제
numbers[3] = ""
print(numbers)

[2, 4, 6, '', 10, 1, 3, 5, 7, 9]

In [ ]:
numbers = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

a = "goorm"

#공간까지 삭제
del numbers[4]
print(numbers)

del numbers[:5]
print(numbers)

#객체 자체를 삭제
del a

[2, 4, 6, 8, 1, 3, 5, 7, 9]
[3, 5, 7, 9]

In [ ]:
## 리스트 함수

numbers = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
print(numbers)

numbers.insert(3, [11, 12, 13])
print(numbers)

#append와 extend의 차이
numbers.extend(['a', 'b', 'c'])
print(numbers)
numbers.append(['a', 'b', 'c'])
print(numbers)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, [11, 12, 13], 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, [11, 12, 13], 8, 10, 1, 3, 5, 7, 9, 'a', 'b', 'c']
[2, 4, 6, [11, 12, 13], 8, 10, 1, 3, 5, 7, 9, 'a', 'b', 'c', ['a', 'b', 'c']]

In [ ]:
## 삭제하는 함수

numbers = [2, 4, 6, 8, 1, 3, 5, 7]
print(numbers)

numbers.insert(3, [11, 12, 13])
print(numbers)

numbers.remove(3)
print(numbers)
print(numbers.pop())
print(numbers)

[2, 4, 6, 8, 1, 3, 5, 7]
[2, 4, 6, [11, 12, 13], 8, 1, 3, 5, 7]
[2, 4, 6, [11, 12, 13], 8, 1, 5, 7]
7
[2, 4, 6, [11, 12, 13], 8, 1, 5]

In [ ]:
## 정렬 함수

evennumbers = [2, 4, 6, 8]
oddnumbers = [1, 3, 5, 7]
print(evennumbers, oddnumbers)

numbers = evennumbers + oddnumbers
print(numbers)

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[2, 4, 6, 8] [1, 3, 5, 7]
[2, 4, 6, 8, 1, 3, 5, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
## 리스트 정보

numbers = [1, 6, 7, 3, 5, 6, 8, 3, 3]

numbers.index(6)
print(numbers)
print(numbers.count(3))

[1, 6, 7, 3, 5, 6, 8, 3, 3]
3

In [ ]:
list1 = [2,5,2,0,1]
list2 = [4,1,2]

list1.append(list2)
print(list1, len(list1))

[2, 5, 2, 0, 1, [4, 1, 2]] 6

## 딕셔너리

In [1]:
## 딕셔너리 자료형

dic = {}

dic["apple"] = "사과"
dic["grape"] = "포도"
dic["fruits"] = ["바나나", "딸기", "오렌지"]
print(dic)

{'apple': '사과', 'grape': '포도', 'fruits': ['바나나', '딸기', '오렌지']}

In [2]:
## 자료형 삭제

dic1 = {"apple":"사과", "bird":"새", "bug": "벌레"}
print(dic1)

del dic1["bug"]
print(dic1)

{'apple': '사과', 'bird': '새', 'bug': '벌레'}
{'apple': '사과', 'bird': '새'}

In [4]:
## 딕셔너리 함수

mem = {"김구름": 25, "박에듀": 23, "온라인": 24}
mem = {"김구름": 25, "박에듀": 23, "온라인": 24}
print(mem.keys())
names = list(mem.keys()) #새로운 리스트 변수에 초기화

names.append("윤레벨")
print("새로운 리스트",names)

print("원래 딕셔너리에서 key 모음", list(mem.keys()))

print(mem.values())

print(list(mem.values()))

print("key와 value를 튜플로", mem.items())

print(mem.get("정판교", "없습니다"), mem.get("온라인", "없습니다"))

exist = '박에듀' in mem #굉장히 직관적인 용법
print(exist)

exist = '한바로' in mem
print(exist)

mem.clear()
print(mem) #빈 딕셔너리 출력

dict_keys(['김구름', '박에듀', '온라인'])
새로운 리스트 ['김구름', '박에듀', '온라인', '윤레벨']
원래 딕셔너리에서 key 모음 ['김구름', '박에듀', '온라인']
dict_values([25, 23, 24])
[25, 23, 24]
key와 value를 튜플로 dict_items([('김구름', 25), ('박에듀', 23), ('온라인', 24)])
없습니다 24
True
False
{}

## 튜플과 집합

In [5]:
## 튜플과 집합

t1 = ('a', 'b', 'c', 1, 2, 3)
print(t1, t1[2])

t2 = ("hello",) #하나의 값이면 뒤에 콤마 입력
print(t2)

t3 = "goorm", 'b', "hello", 1, 2, 3 #괄호 생략 가능
print(t3, t3[2])

s1 = list(set([1,2,3])) #다음에 배우게 될 집합 Mutable 타입
t4 = ([1, 2, 3], {"사과":"apple", "포도":"grape"}, ('a', 'b', 'c'), s1) #리스트 내 어떤 값도 가능
print(t4, t4[1])

t4[3][2] = "edit" #중요: 튜플 요소가 Mutable하면 수정할 수 있음
t4[1]["사과"] = "edit"
t4[0][2] = "edit"
print(t4)

('a', 'b', 'c', 1, 2, 3) c
('hello',)
('goorm', 'b', 'hello', 1, 2, 3) hello
([1, 2, 3], {'사과': 'apple', '포도': 'grape'}, ('a', 'b', 'c'), [1, 2, 3]) {'사과': 'apple', '포도': 'grape'}
([1, 2, 'edit'], {'사과': 'edit', '포도': 'grape'}, ('a', 'b', 'c'), [1, 2, 'edit'])

In [6]:
t1 = ('a', 'b', 'c', 1, 2, 3)
t2 = ("hello",)
t3 = "goorm", 'b', "hello", 1, 2, 3

print(t1 + t2 + t3) #튜플 결합
print(t2 * t3[4]) #곱셈으로 반복 출력

('a', 'b', 'c', 1, 2, 3, 'hello', 'goorm', 'b', 'hello', 1, 2, 3)
('hello', 'hello')

In [7]:
t = (13, 6, 9)
print(t)
print(t.index(13), t.count(6))

(13, 6, 9)
0 1

In [8]:
## 중복과 순서가 없는 집합
s1 = {3, 2, 5, 1, 8, 4, 3} # 집합으로 바로 선언 및 초기화
print(s1, type(s1))

{1, 2, 3, 4, 5, 8} <class 'set'>

In [9]:
str = "Hello goorm!!!"
print(str, type(str))

s0 = set(str)
print(s0, type(s0))

l = ['a', 'a', 'c', "goorm", "hello", 10, 30, 30]
print(l, type(l))

s1 = set(l)
print(s1, type(s1))

d = {"Anna":25, "Bob": 23}
print(d, type(d))

s2 = set(d)
print(s2, type(s2))

t = (190,)
print(t, type(t))

s3 = set(t)
print(s3, type(s3))

Hello goorm!!! <class 'str'>
{'o', 'r', 'e', '!', 'm', 'g', ' ', 'H', 'l'} <class 'set'>
['a', 'a', 'c', 'goorm', 'hello', 10, 30, 30] <class 'list'>
{'hello', 'goorm', 10, 'c', 'a', 30} <class 'set'>
{'Anna': 25, 'Bob': 23} <class 'dict'>
{'Anna', 'Bob'} <class 'set'>
(190,) <class 'tuple'>
{190} <class 'set'>

In [10]:
str = "Hello goorm!!!"
print(str, type(str))

s0 = set(str)
print(s0, type(s0))

newstr = tuple(s0)
print(newstr, newstr[4], newstr[5:], type(newstr)) #인덱싱, 슬라이싱 가능

l = [1,2,3,4,5,6,7,8]
print(l, type(l))

s1 = set(l)
print(s1, type(s1))

newlist = list(s1)
print(newlist, newlist[4], newlist[:-5], type(newlist))

Hello goorm!!! <class 'str'>
{'o', 'r', 'e', '!', 'm', 'g', ' ', 'H', 'l'} <class 'set'>
('o', 'r', 'e', '!', 'm', 'g', ' ', 'H', 'l') m ('g', ' ', 'H', 'l') <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8] <class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8} <class 'set'>
[1, 2, 3, 4, 5, 6, 7, 8] 5 [1, 2, 3] <class 'list'>

In [11]:
## 집합 함수

s1 = set([2,4,6,8,10])
s2 = set([1,2,3,4,5,6,7,8])

interset = s1 & s2 #교집합
print(interset)
print(s1.intersection(s2), s2.intersection(s1)) #함수 사용
print(s1) #s1의 값이 바뀌는 것이 아님

uniset = s1 | s2 #합집합
print(uniset)
print(s1.union(s2))
print(s1) #s1의 값이 바뀌는 것이 아님

difset1 = s1 - s2 #어떤 집합에서 어떤 집합을 빼느냐에 따라 다른 결괏값
difset2 = s2 - s1
print(difset1)
print(difset2)

{8, 2, 4, 6}
{8, 2, 4, 6} {8, 2, 4, 6}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10}
{2, 4, 6, 8, 10}
{10}
{1, 3, 5, 7}

In [12]:
s1 = {1, 2, 3, 4}

s1.add("hello")
print(s1)

s1.add(10)
print(s1)

s1.add((1,2,3)) #add() 사용 시 튜플/문자열은 값 하나로 인식
print(s1)


s1.update(['a', 'b', 'c']) #set()과 같이 여러 값을 한 요소로 저장
s1.update((11,12))
print(s1)

s1.update("zyx") #s1.add("hello")와의 차이
print(s1)

s1.remove("hello") #하나의 값만 제거 가능
print(s1)

{1, 2, 3, 4, 'hello'}
{1, 2, 3, 4, 'hello', 10}
{1, 2, 3, 4, 'hello', 10, (1, 2, 3)}
{1, 2, 3, 4, 'hello', 10, (1, 2, 3), 11, 12, 'c', 'a', 'b'}
{1, 2, 3, 4, 'hello', 10, (1, 2, 3), 11, 12, 'c', 'x', 'a', 'z', 'b', 'y'}
{1, 2, 3, 4, 10, (1, 2, 3), 11, 12, 'c', 'x', 'a', 'z', 'b', 'y'}