<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/%EA%B5%AC%EB%A6%84(%ED%95%9C%EB%88%88%EC%97%90_%EC%9D%BD%EB%8A%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC3_%EA%B8%B0%EC%B4%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 04.문자열(string)

In [1]:
str1 = "Hello"
str2 = "goorm: !@#$%^&*()\|/"
str3 = "3"

print(str1, str2, str1 + str3)

Hello goorm: !@#$%^&*()\|/ Hello3

In [2]:
## 따음표를 문자열로 표현하고 싶을 때

str1 = 'He said "I love you"'
str2 = "It's so beautiful"
str3 = """My name is "goorm" """
str4 = '''It's an apple'''

print(str1)
print(str2)
print(str3)
print(str4)

He said "I love you"
It's so beautiful
My name is "goorm"
It's an apple

In [3]:
str1 = "한 눈에 읽는\n파이썬3"
str2 = '설치가 필요없는 클라우드 IDE, 구름IDE'
str3 = '''이스케이프 시퀀스를
배워봅시다.'''
str4 = """한 눈에 읽는
파이썬3"""

print(str1)
print(str2)
print(str3)
print(str4)

한 눈에 읽는
파이썬3
설치가 필요없는 클라우드 IDE, 구름IDE
이스케이프 시퀀스를
배워봅시다.
한 눈에 읽는
파이썬3

## 이스케이프 시퀀스

In [4]:
str1 = "한 눈에 읽는\n파이썬3"
str2 = '설치가 필요없는 클라우드 IDE, \n구름IDE'
str3 = '''이스케이프 시퀀스를\n배워봅시다.'''
str4 = """한 눈에 읽는\nPython3"""

print(str1)
print(str2)
print(str3)
print(str4)

한 눈에 읽는
파이썬3
설치가 필요없는 클라우드 IDE,
구름IDE
이스케이프 시퀀스를
배워봅시다.
한 눈에 읽는
Python3

## 문자열 연산

In [6]:
# 문자열의 덧셈

str1 = "Hello"
str2 = "goorm!"
result = str1 + str2
print(result)

Hellogoorm!

In [7]:
# 문자열의 곱셈

str = "Hello "
num = 5
result = str * num
print(result)

Hello Hello Hello Hello Hello

## 인덱싱과 슬라이싱

In [9]:
# 인덱스는 수많은 데이터 중 원하는 항목을 쉽게 찾을 수 있도록 기록된 표기
# 문자열은 바로 2진수로 바꿀 수 없기에, 아스키코드(ASCII CODE)를 사용

print(ord("A"))
print(chr(65))

65
A

In [10]:
# 인덱싱은 문자열에 포함된 각 문자에 대해 순차적으로 번호를 매기는 것

str = "apple"
print("str의 첫 번째 문자는 ", str[0], "네 번째 문자는", str[3])

str의 첫 번째 문자는  a 네 번째 문자는 l

In [11]:
# 인덱스를 문자연산 사용

a = "Hello goorm!"
b = a[4] + a[5] + a[6]
print(a[0], a[1], a[2], a[3], a[4])
print(b)

H e l l o
o g

In [12]:
a = "Hello goorm!"
b = a[-1] + a[-2] + a[-3]
c = a[-0]
print(b)
print(c)

!mr
H

## 슬라이싱

In [13]:
a = "Hello goorm!"
b = a[0:5]
print(b)

Hello

In [14]:
a = "Hello goorm!"

b = a[:5]
c = a[5:]
print(b)
print(c)

Hello
 goorm!

In [15]:
a = "Hello goorm!"

b = a[0:-5]
c = a[6:-11]
print(b)
print(c)

Hello g

## 문자열 포매팅1

In [16]:
city = "seoul"
today = 12
day = "화요일"
temperature = 26

#정수형 temperature은 문자열과 덧셈 불가 -> str(문자열)로 형변환
announcement = city + "의 " + str(today) + "일 " +day + " 기온은 " + str(temperature) + "도 입니다."

#1번 방법
print(city,"의",today,"일",day,"기온은",temperature,"도 입니다.")
#2번 방법
print(announcement)

TypeError: 'str' object is not callable

In [17]:
city = "seoul"
today = 12
day = "화요일"
temperature = 26
announcement = "%s의 %d일 %s 기온은 %d도 입니다." %(city, today, day, temperature)

print("%s의 %d일 %s 기온은 %d도 입니다." %(city, today, day, temperature)) #1번 방법
print(announcement) #2번 방법

seoul의 12일 화요일 기온은 26도 입니다.
seoul의 12일 화요일 기온은 26도 입니다.

In [18]:
name = "goorm"
age = 25
height = 181.523456

print("저의 이름은 %s입니다." %name)

print("저는 %d살입니다." %25)
print("제 나이는 %d살입니다." %age)
print("제 나이는 %s살입니다." %age)
print("제 나이는 %.2f살입니다." %age)

print("저의 키는 %fcm입니다." %height)
print("저의 키는 %.2fcm입니다." %height)
print("저의 키는 %dcm입니다." %height)

print("저의 성은 '%c'입니다." %"남")

print("저의 나이는 16진수로 표현하면 %x, 8진수로 표현하면 %o입니다." %(age, age))

print("%10d %010d" %(10, 10))

#'김구름'을 포함하여 8칸의 공간 발생 -> 공백 5칸 + 김구름 3칸
print("%8s %8d %8s" %("김구름", 6, "컴퓨터공학"))
print("%-8s %-8d %-8s" %("김구름", 6, "컴퓨터공학"))

저의 이름은 goorm입니다.
저는 25살입니다.
제 나이는 25살입니다.
제 나이는 25살입니다.
제 나이는 25.00살입니다.
저의 키는 181.523456cm입니다.
저의 키는 181.52cm입니다.
저의 키는 181cm입니다.
저의 성은 '남'입니다.
저의 나이는 16진수로 표현하면 19, 8진수로 표현하면 31입니다.
        10 0000000010
     김구름        6    컴퓨터공학
김구름      6        컴퓨터공학