<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/%EB%B0%B1%EC%A4%80(solved)_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 브론즈 5

In [ ]:
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a, b = map(int,input("").split())

print(a+b)

In [ ]:
# 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

a, b = map(int, input("").split())

print(a-b)

5 3
2

In [ ]:
## 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

a, b = map(int,input("").split())

print(a/b)

4 5
0.8

In [ ]:
## 갑부 최백준 조교는 동전을 최소로 바꾸는데 성공했으나 김재홍 조교가 그 돈을 발견해서 최백준 조교에게 그 돈을 나누자고 따진다.

## 그 사실이 전 우주로 알려지자 우주에 있던 많은 생명체들이 자신들에게 돈을 분배해 달라고 당장 달려오기 시작했다.

## 프로토스 중앙 우주 정부의 정책인, ‘모든 지적 생명체는 동등하다’라는 규칙에 입각해서 돈을 똑같이 분배하고자 한다.

## 한 생명체에게 얼마씩 돈을 줄 수 있는가?

## 또, 생명체들에게 동일하게 분배한 후 남는 돈은 얼마인가?

n, m = map(int, input("").split())

print(n // m)
print(n % m)

1000 100
10
0

In [ ]:
## 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

a, b = map(int,input("").split())

if a > b:
  print(">")

if a < b:
  print("<")

if a == b:
  print("==")

5 5
==

In [ ]:
## 요건 번외 문제 Golfscript를 통해서 씀

## You’ve decided to buy a farm and start a new life.
##To pass some time while you wait for the title of the
## land to go through,
## produce the following ascii cow.

## '(___)
## (o o)____/
## @@      \
##  \ ____,/
##  //   //
## ^^   ^^'

SyntaxError: unterminated string literal (detected at line 6) (<ipython-input-33-8b9d52ad1239>, line 6)

In [ ]:
## 두 수 A, B를 입력받아, A+B, A-B, A×B를 구하는 프로그램을 작성하시오.

a = int(input(""))
b = int(input(""))

print(a+b)
print(a-b)
print(a*b)

1
0
1
1
0

In [ ]:
# You have just learned how to output text to the screen and your teacher has challenged you to create an ASCII art of a chess piece. You have decided to make your favorite piece, the rook.
print("  ___  ___  ___")
print("  | |__| |__| |")
print("  |           |")
print("   \_________/")
print("    \_______/")
print("     |     |")
print("     |     |")
print("     |     |")
print("     |     |")
print("     |_____|")
print("  __/       \__")
print(" /             \\")
print("/_______________\\")

  ___  ___  ___
  | |__| |__| |
  |           |
   \_________/
    \_______/
     |     |
     |     |
     |     |
     |     |
     |_____|
  __/       \__
 /             \
/_______________\

In [ ]:
# 사파리월드는 인터넷으로만 존재하는 미스테리한 나라이다. 사파리월드에는 2개의 서브도메인이 seunghwan.royal.gov.sw와 kyuhyun.royal.gov.sw 이 있는데, 이것이 couple.royal.gov.sw으로 합쳐질 것이다.
# 그러나 도메인 관리 센터 SWNIC(센터장: 김동규)에는 엄격한 룰이 있다. 두 서브도메인을 합칠 때, 유명도의 차이가 너무 차이나지 않을 경우에만 두 서브도메인을 결혼시키는 것이다. 서브도메인의 유명도는 정수이다.
# 두 서브도메인의 유명도가 주어졌을 때, 그 차이를 구하는 프로그램을 작성하시오.

n, m = map(int,input("").split())

num = abs(n - m)

print(num)

-2 5
7

In [ ]:
# Hello World!를 출력하시오.

print("Hello World!")

Hello World!

In [ ]:
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a = int(input(""))
b = int(input(""))

print(a+b)

1
2
3

In [ ]:
# 컴퓨터를 제조하는 회사인 KOI 전자에서는 제조하는 컴퓨터마다 6자리의 고유번호를 매긴다.
# 고유번호의 처음 5자리에는 00000부터 99999까지의 수 중 하나가 주어지며 6번째 자리에는 검증수가 들어간다.
# 검증수는 고유번호의 처음 5자리에 들어가는 5개의 숫자를 각각 제곱한 수의 합을 10으로 나눈 나머지이다.
# 예를 들어 고유번호의 처음 5자리의 숫자들이 04256이면,
# 각 숫자를 제곱한 수들의 합 0+16+4+25+36 = 81 을 10으로 나눈 나머지인 1이 검증수이다.

0 4 2 5 6

TypeError: unsupported operand type(s) for +: 'map' and 'int'

In [ ]:
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a, b = map(int,input("").split())

print(a + b)

9223372036854775807  9223372036854775808
18446744073709551615

In [ ]:
# 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

n = int(input(""))

if n >= 90:
  print("A")

elif n >= 80:
  print("B")

elif n >= 70:
  print("C")

elif n >= 60:
  print("D")

else:
  print("F")

100
A

In [ ]:
# (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

# (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

# 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

A, B, C = map(int,input("").split())

print((A+B)%C)
print(((A%C) + (B%C)) % C)
print((A*B)%C)
print(((A%C) * (B%C)) % C)

5 8 4
1
1
0
0

In [ ]:
# 첫째 줄에 준하의 놀람을 출력한다. 놀람은 아이디 뒤에 ??!를 붙여서 나타낸다.

n = input()

if n == n:
  print(n+"??!")

joonas
joonas??!

In [ ]:
# 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)

n = int(input())

if n == n:
  print(n-543)

2541
1998

In [ ]:
# (1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

a = int(input())
b = int(input())

one = b % 10
two = b // 10 % 10
three = b // 100

print(a*one)
print(a*two)
print(a*three)
print(a*b)

472
385
2360
3776
1416
181720

In [ ]:
## N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

n = int(input())

for i in range(1, 10):
    print(n, "*", i, "=", n*i)

    if i == n:
      break

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [ ]:
# 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

n = int(input())

for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

In [ ]:
# 아래 예제와 같이 고양이를 출력하시오.

print("\    /\\""")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# 아래 예제와 같이 개를 출력하시오.

print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
# 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

year = int(input())

if (1 <= year <= 4000):
  if (year % 4) or (year % 100) or (year % 400):
        print('1')
  else:
      print('0')

2004
1

In [ ]:
# 3 つの整数 A, B, C が与えられる．
# 3 つの値の合計が 21 以下なら 1 を，そうでないなら 0 を出力せよ．

a = int(input())
b = int(input())
c = int(input())

sum = a + b + c

if sum <= 21:
    print('1')
else:
    print('0')

7
8
13
0

In [ ]:
# 비타로는 1000엔 지폐를 A 장, 10000엔 지폐를 B 매 가지고 있다. 전부 얼마를 가지고 있는지 출력하라.

a = int(input())
b = int(input())

print(1000 * a + 10000 * b)

7
2
27000

In [ ]:
# 백준 16170번
## 지금 시각을 UTC+0(세계 표준시)을 기준으로 나타냈을 때의 연도, 월, 일을 한 줄에 하나씩 순서대로 출력한다.

from datetime import datetime

datetime.today().year
datetime.today().month
datetime.today().day

print(datetime.today().year)
print(datetime.today().month)
print(datetime.today().day)

2025
4
10

In [ ]:
# 장훈이형 문제 2
# 숫자를 입력했을때 그 숫자의 자릿수가 출력되게
# ex) 367 -> 3, 123456789 -> 9, 7 -> 1

n = int(input()) # 값 입력
count = 0 # 초기값 설정

while(n != 0): # n이 0이 아닐 때
  n1 = n % 10 # n의 나머지 값을 n1에 넣음
  if n1 % 1 == 0: # 만약 n1을 1로 나눴을 때 나머지가 0이라면
    count += 1  # count에 1을 추가해서 값을 넣어줌

  n = n // 10 # 십의 자리가 백의 자리를 구하기 위해서 n을 10으로 나눠 n에 넣어줌

print(count) # 지금 까지 추가된 count값 추가

123456789
9

In [ ]:
n = int(input())
count = 0

while(n != 0):
    count += 1
    n = n // 10
print(count)

7
1

In [ ]:
# 백준 30676
# 계기판에 표시된 별빛의 파장 $\lambda$ 가 주어진다. 파장은 항상 정수로 주어지며 단위는 $\textrm{nm}$이다. $(380 \leq \lambda \leq 780)$

n = int(input())

if n >= 620 and n <= 780:
    print('Red')

if n >= 590 and n < 620:
    print('Orange')

if n >= 570 and n < 590:
    print('Yellow')

if n >= 495 and n < 570:
    print('Green')

if n >= 450 and n < 495:
    print('Blue')

if n >= 425 and n < 450:
    print('Indigo')

if n >= 380 and n < 425:
    print('Violet')

516
Green

In [ ]:
# 백준 31610
# 1 個 A 円の飴を B 個と，C 円の袋を 1 つ買う．合計金額はいくらか求めよ．

A = int(input())
B = int(input())
C = int(input())

print(A*B+C)

70
2
100
240

In [ ]:
# 백준 27327
# 1 日は 24 時間である．
# 整数 X が与えられる． X 日は何時間か求めよ．

x = int(input())

print(x*24)

100
2400

In [ ]:
# 백준 27328
# 三方比較 (Three-Way Comparison)
# 2 つの整数 A, B が与えられる．
# A と B の大小を比較し，A ＜ B ならば -1 を，A ＝ B ならば 0 を，A ＞ B ならば 1 を出力せよ

a = int(input())
b = int(input())

if a < b:
    print('-1')

if a == b:
    print('0')

if a > b:
    print('1')

1000
1
1

In [ ]:
# 백준 24078
# X を 21 で割った余りを出力せよ．

x = int(input())

print(x % 21)

50
8

In [ ]:
# 백준 31606
# リンゴとミカンとバナナが合わせて何個あるか，単位 (個) を省いて出力せよ．
# 結果以外は何も出力しないこと．(入力を促す文章なども出力しないこと．)

x = int(input())
y = int(input())
z = 3

print(x+y+z)

2
4
9

In [ ]:
# 백준 27324
# 十進法で 2 桁の整数 N が与えられる．
# N の十の位の数字と一の位の数字が同じである場合は 1 を，そうでない場合は 0 を出力せよ．

n = int(input())
count = 0

n1 = n % 10
n2 = n // 10

if n1 == n2:
    count += 1

print(count)

22
1

In [ ]:
# 백준 31654
# Output either correct! if $A + B = C$, or wrong! if $A + B \ne C$.

A, B, C = map(int,input().split())

if A + B == C:
    print("correct!")
else :
    print("worng!")

2 3 5
correct!

In [ ]:
A, B, C = input().split()

A = int(A)
B = int(B)
C = int(C)

if A + B == C :
    print("correct!")
else :
    print("wrong!")

2 3 5
correct!

## 4월 20일

In [ ]:
# 백준 1237
# 첫째 줄에 문제의 정답을 출력한다.

print('문제의 정답')

문제의 정답

In [ ]:
# 백준 24883
# 주어진 알파벳이 N 또는 n 이면 "Naver D2", 아니라면 "Naver Whale"을 따옴표를 제외하고 출력한다.

n = input()

if n == 'N' or n == 'n':
    print('Naver D2')
else:
    print('Naver Whale')

A
Naver Whale

## 4월 21일

In [ ]:
# 백준 32458
# 출력은 입력 숫자의 바닥인 단일 정수여야 합니다.$x$소수점을 출력하지 마세요.

n = float(input())

print(int(n))

2.00000
2

In [ ]:
# 백준 32326
# 식사 비용을 달러로 나타낸 음이 아닌 정수 C를 출력합니다.

gim = int(input())
sushi = int(input())
sushi2 = int(input())

red = 3
green = 4
blue = 5

print(gim*3+sushi*4+sushi2*5)

0
2
4
28

## 4월 22일

In [ ]:
# 백준 8545
# 주어진 세 글자 단어를 뒤집어서 출력하는 프로그램을 작성하세요.

n = input()

print(n[::-1])

abc
cba

In [ ]:
# 백준 28691
# 첫 줄에 민재가 생각하는 동아리의 전체 이름을 대소문자를 구분하여 출력해 보자.

n = input()

if n == 'M':
    print('MatKor')

elif n == 'W':
    print('WiCys')

elif n == 'C':
    print('CyKor')

elif n == 'A':
    print('AlKor')

elif n == '$':
    print('$clear')

$
$clear

## 4월 27일

In [ ]:
# 백준 3003번
# 동혁이가 발견한 흰색 피스의 개수가 주어졌을 때, 몇 개를 더하거나 빼야 올바른 세트가 되는지 구하는 프로그램을 작성하시오.

n = list(map(int, input().split()))

standard = [1, 1, 2, 2, 2, 8]

for i in range(6):
    print(standard[i] - n[i], end=' ')

KeyboardInterrupt: Interrupted by user

In [ ]:
# 백준 4999
# 입력은 두 줄로 이루어져 있다. 첫째 줄은 재환이가 가장 길게 낼 수 있는 "aaah"이다.
# 둘째 줄은 의사가 듣기를 원하는 "aah"이다. 두 문자열은 모두 a와 h로만 이루어져 있다.
# a의 개수는 0보다 크거나 같고, 999보다 작거나 같으며, 항상 h는 마지막에 하나만 주어진다.

first = input()
second = input()

if first.count('a') >= second.count('a'):
    print('go')
else:
    print('no')

aaah
aaaaah
No

## 4월 30일

In [ ]:
# 백준 : 6840
# 골디락스와 곰 세 마리 이야기에서 곰들은 각자 좋아하는 의자에 앉아 죽을 한 그릇씩 먹었습니다.
# 이야기에서 언급하지 않은 것은 골디락스가 그릇들을 테이블 위에서 이리저리 옮겨 놓아 그릇들이 제자리에 있지 않았다는 것입니다.
# 그릇들은 무게 순으로 정렬할 수 있는데, 가장 가벼운 그릇이 아기 곰의 그릇, 중간 무게가 엄마 곰의 그릇, 가장 무거운 그릇이 아빠 곰의 그릇입니다.
# 세 가지 무게 값을 입력받아 엄마 곰의 그릇 무게를 출력하는 프로그램을 작성하세요.

child = int(input())
mom = int(input())
father = int(input())

n = [child, mom, father]

sorted_nums = sorted(n)
print(sorted_nums[1])

10
5
8
8

## 5월 1일

In [ ]:
# 백준 10807
# 총 N개의 정수가 주어졌을 때, 정수 v가 몇 개인지 구하는 프로그램을 작성하시오.

N = int(input())

numbers = list(map(int, input().split()))

v = int(input())

print(numbers.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
2
3

## 5월 4일

In [ ]:
# 백준: 5522
# JOI군은 카드 게임을 하고 있다. 이 카드 게임은 5회의 게임으로 진행되며, 그 총점으로 승부를 하는 게임이다.
# JOI군의 각 게임의 득점을 나타내는 정수가 주어졌을 때, JOI군의 총점을 구하는 프로그램을 작성하라.
# 표준 출력에 JOI군의 총점을 한 줄로 출력하라.
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())

print(a+b+c+d+e)

1
2
3
4
5
15

In [ ]:
# 백준 14645
# 첫 줄에 출발역과 종착역을 제외한 정거장의 수 N(1 ≤ N ≤ 100,000)과
# 출발역에서 탑승하는 사람의 수 K(1 ≤ K ≤ 10,000)가 주어진다.
# 둘째 줄부터 N개의 줄에 걸쳐 각 줄마다 i번째 정거장에서 탑승하는 인원 A와
# 하차하는 인원 B가 주어진다. (0 ≤ A, B ≤ 10,000)
# 출력 : 종착역에 도착했을 때, 버스 운전수의 이름을 출력해라.

N, K = map(int, input().split()) # 정거장 수 N, 출발 시 탑승 인원 K

people = K # 현재 버스에 있는 사람 수

for i in range(N): # N번 반복
  A, B = map(int, input().split()) # 타는 인원 A, 내리는 인원 B
  people -= B # 내림
  people -= A # 탐

print("비와이")

3 2
10 3
21 8
0 15
비와이

## 5월 6일

In [ ]:
# 백준 29751
# 양의 정수 $W$, $H$가 주어진다. 밑변의 길이가 $W$이고, 높이가 $H$인 삼각형의 넓이를 구하시오.

W, H = map(int,input().split())

print((W*H) / 2)

1 1
0.5

## 5월 7일

In [ ]:
# 백준 10430
# 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

A, B, C = map(int, input().split())

print((A+B)%C)
print(((A%C) + (B%C)) % C)
print((A*B)%C)
print(((A%C) * (B%C)) % C)

5 8 4
1
1
0
0

## 5월 8일

In [ ]:
# 백준 14681
# 점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오. 단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다.

x = int(input())
y = int(input())

if (x > 0 and y > 0):
  print("1")

elif (x < 0 and y > 0):
  print("2")

elif (x < 0 and y < 0):
  print("3")

elif (x > 0 and y < 0):
  print("4")

9
-13
4

## 5월 13일

In [ ]:
# 백준 10872번 – 팩토리얼
# 자연수 N이 주어졌을 때, N! 값을 계산하는 문제

n = int(input())

def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(n))

In [ ]:
# 백준 15232
# Read two integer numbers R and C from the standard input and then print R lines with C asterisks (*) each.

R = int(input())
C = int(input())

for i in range(R):
    for j in range(C):
        print('*', end='')
    print()

3
5
*****
*****
*****

## 5월 14일

In [ ]:
# 백준 28701
# 입력된 세 줄을 출력하세요.

n = int(input())

sum = 0
for i in range(1, n+1):
    sum += i

print(sum)
print(sum**2)
print(sum**2)

5
15
225
225

In [ ]:
# 백준 21598
# "SciComLove"를 예제와 같이 N번 출력합니다. 단, 따옴표는 출력하지 않습니다.

n = int(input())

if n == 1:
    print('SciComLove')

if n == 2:
    print('SciComLove\n' * 2)

2
SciComLove
SciComLove

## 5월 15일

In [ ]:
# 백준 28235
# 첫 번째 줄에 네 가지 구호 중 한 가지에 해당하는 문자열이 주어진다.

n = input()

if n == 'SONGDO':
    print("HIGHSCHOOL")

if n == 'CODE':
    print("MASTER")

if n == '2023':
    print("0611")

if n == 'ALGORITHM':
    print("CONTEST")

CODE
MASTER

In [ ]:
# 백준 27323
# 세로 길이가 A cm, 가로 길이가 B cm인 직사각형의 넓이를 cm2 단위로 구하고, 단위 (cm2)를 생략하여 출력한다.

a = int(input())
b = int(input())

print(a*b)

4
4
16

## 5월 16일

In [ ]:
# 백준 33612
# 첫째 줄에 $N$번째 피갤컵이 열리는 연도와 월을 공백을 두고 출력한다.

n = int(input())

start_year = 2024
start_month = 8
start_total_months = start_year * 12 + start_month

passed_months = (n - 1) * 7

target_total_months = start_total_months + passed_months

year = target_total_months // 12
month = target_total_months % 12

if month == 0:
    month = 12
    year -= 1

print(year, month)

1
2024 8

## 5월 17일

In [ ]:
# 백준 7891
# For each test case output output the sum of the corresponding integers.

t = int(input())

for i in range(t):
    a, b = map(int, input().split())
    print(a+b)

4
-100 100
0
2 3
5
0 110101
110101
-1000000000 1
-999999999

In [ ]:
# 백준 24568
# Output the number of cupcakes that are left over.

R = int(input())
S = int(input())

student = 28

cup = (R*8) + (S*3)

print(cup - student)

2
4
0

In [ ]:
N, M = map(int, input().split())

if N == M:
    print('1')
else:
    print('0')

1 0
0

## 5월 21일

In [ ]:
# 백준: 15740
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a, b = map(int, input().split())

print(a+b)

-999999999 1000000000'

ValueError: invalid literal for int() with base 10: "1000000000'"

## 5월 23일

In [ ]:
# 백준 26545
# Output the resulting integer. The output should be one line containing one integer value.

n = int(input())

sum = 0

for _ in range(n):
  num = int(input())
  sum += num

print(sum)

3
1
2
3
6

## 6월 1일

In [ ]:
# 백준 32951
# 첫 번째 줄에 N년이 2024년으로부터 몇 년이나 지났는지 출력한다.
year = 2024

n = int(input())
print(n - year)

2024
0

In [ ]:
# 백준 32775
# 람들이 역 a에서 역 b로 이동할 때, 어느 교통수단을 더 많이 이용하는지 알려주세요.
#  단, 공항과 역 간 이동 시간은 무시합니다.

a = int(input())
b = int(input())

if a < b:
    print('high speed rail')
else:
    print('flight')

# a -> b 가는데 소요시간
# 공항 a -> b 가는데 소요시간
# 공항 b에서 역 b로 가는데 소요시간

99
98
flight

## 6월 7일

In [ ]:
# 백준 10953
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

n = int(input())

for i in range(n):
    a, b = map(int, input().split(','))
    print(a+b)

5
1,1
2
2,3
5
3,4
7
9,8
17
5,2
7

In [ ]:
# 백준 9316
# 한 줄에 하나의 Hello World, Judge i! 를 출력한다.

n = int(input())

for i in range(1, n+1):
    print("Hello World, Judge {}!".format(i))

3
Hello World, Judge 1!
Hello World, Judge 2!
Hello World, Judge 3!

## 6월 8일

In [ ]:
# 백준 2742
# 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

n = int(input())

for i in range(n, 0, -1):
    print(i)

5
5
4
3
2
1

In [ ]:
# 백준 11021
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

n = int(input())

for i in range(n):
  a, b = map(int, input().split())
  print(f"Case #{i+1}: {a + b}")

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [ ]:
# 백준 14581
# 3개의 줄에 걸쳐, 팬들에게 둘러싸인 홍준의 모습을 출력한다.

n = input()

print(":fan::fan::fan:")
print(f":fan::{n}::fan:" )
print(":fan::fan::fan:")

appa
:fan::fan::fan:
:fan::appa::fan:
:fan::fan::fan:

## 6월 9일

In [ ]:
# 백준 11022
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

n = int(input())

for i in range(n):
    a, b = map(int, input().split())
    print(f"Case #{i+1}: {a} + {b} = {a + b}")

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [ ]:
# 백준 24086
# JOI 君のこの 1 年間の身長の伸びは何 cm であるか，単位 (cm) を省いて出力せよ．

a = int(input())
b = int(input())

print(abs(a - b))

150
155
5

## 6월 12일

In [ ]:
# 백준 8437
# 프로그램은 두 개의 정수를 연속된 두 줄에 한 줄씩 (표준 출력에) 출력해야 합니다. 첫 줄에는 클라우디아의 사과 개수가,
# 두 번째 줄에는 나탈리아의 사과 개수가 입력되어야 합니다. 여자아이들은 항상 통째로 사과를 먹는다는 것은 잘 알려진 사실입니다.

a = int(input())
b = int(input())

print((a+b) // 2)
print((a-b) // 2)

10
2
6
4

In [ ]:
# 백준 9086
# 각 테스트 케이스에 대해서 주어진 문자열의 첫 글자와 마지막 글자를 연속하여 출력한다.

n = int(input())

for i in range(n):
    num = input()
    print(num[0]+num[-1])

3
ACDKJFOWIEGHE
AE
O
OO
AB
AB

## 6월 14일

In [ ]:
# 복습 필요!!!
# 백준 25314
# 혜아가 n 바이트 정수까지 저장할 수 있다고 생각하는 정수 자료형의 이름을 출력하여라.

n = int(input())

for i in range(n // 4):
    print("long", end=" ")

print("int")

4
long int

## 6월 15일

In [ ]:
# 백준 26082
# 경쟁사 제품의 가격 A, 경쟁사 제품의 성능 B, WARBOY의 가격 C가 주어질 때, WARBOY의 성능을 구해보자

a, b, c = map(int, input().split())

warboy = (3 * b * c // a)

print(warboy)

10 100 7
210

## 6월 18일

In [22]:
# 백준 10818
# N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

n = int(input())

num = list(map(int,input().split()))

print(min(num), max(num))

5
20 10 35 30 7
7 35

In [43]:
# 백준: 2750번
# 첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

n = int(input())

n_line = []

for i in range(n):
    n_line.append(int(input()))

n_line.sort()

for num in n_line:
    print(num)

5
5
2
3
4
1
1
2
3
4
5