<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B9%A0%EB%A5%B8_%EA%B8%B0%EC%B4%88_%EB%B3%B5%EC%8A%B5_%EC%BB%A4%EB%A6%AC%ED%81%98%EB%9F%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 1: 파이썬의 기본 구조 & 입출력 기초

### 파이썬 프로그램의 구조

In [ ]:
print("Hello, world!")
print("This is Python.")

Hello, world!
This is Python.

### 출력 함수 print()

In [ ]:
## 데이터를 화면에 출력하는 함수
## 문자열을 출력할 땐 반드시 "따옴표" 또는 '따옴표'로 감싸야 함

print("안녕하세요")
print(3 + 5)
print("3 + 5=", 3 + 5)

안녕하세요
8
3 + 5= 8

### 입력 함수 input()

In [ ]:
## 사용자가 직접 입력할 수 있게 해주는 함수
## 입력된 값은 항상 문자열(str) 형태로 저장됌.

name = input("이름을 입력하세요: ")
print("안녕하세요,", name, "님!")

이름을 입력하세요: 유성
안녕하세요, 유성 님!

### 변수란?

In [ ]:
## 데이터를 저장하는 공간
## 파이썬은 자료형을 자동으로 추론해줌

age = 23
name = "Skyler"
height = 176.8
print(name, "의 나이는", age, "살이고 키는", height, "cm 입니다.")

Skyler 의 나이는 23 살이고 키는 176.8 cm 입니다.

### 주석과 들여쓰기

In [ ]:
## 주석 -> 프로그램 실행에 영향을 주지 않고 설명을 적는 용도
## #으로 시작함

# 이건 주석입니다.
print("주석은 실행되지 않아요!") # 이 부분도 주석

In [ ]:
## 들여쓰기 -> 파이썬은 {} 대신 들여쓰기로 코드 블록을 구분

if True:
    print("이건 들여쓰기 된 문장")
print("이건 밖에 있는 문장")

이건 들여쓰기 된 문장
이건 밖에 있는 문장

### 실습 미션

In [ ]:
# 인사 프로그램 만들기

name = input("이름을 입력하세요: ")
age = input("나이를 입력하세요: ")
print("안녕하세요", name, "님! 당신은", age, "살이시군요.")

이름을 입력하세요: 유성
나이를 입력하세요: 23
안녕하세요 유성 님! 당신은 23 살이시군요.

In [ ]:
# 간단한 계산기

# 두 수를 입력받아서 합을 출력하기
a = input("첫 번째 숫자를 입력하세요: ")
b = input("두 번째 숫자를 입력하세요: ")

sum = int(a) + int(b)
print("두 수의 합은: ", sum)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
두 수의 합은:  8

## Day2 - 자료형 완전 정복편

### 자료형(Type) 이란?

In [ ]:
## 데이터에는 종류(타입)이 있음
## ex) 10은 숫자, "10"은 문자로 인식함

# | 자료형   | 예시             | 설명                  |
# | ----- | -------------- | ------------------- |
# | int   | 10, -5         | 정수 (소수점 없음)         |
# | float | 3.14, -0.5     | 실수 (소수점 있음)         |
# | str   | "Hello", '123' | 문자열 (따옴표로 감싸진 문자)   |
# | bool  | True, False    | 참(True) / 거짓(False) |

### 숫자형(int, float)

In [ ]:
a = 10 # int 정수
b = 3.14 # float 실수

print(a + b) # 13.14
print(a * b) # 31.4
print(a / 3) # 3.333...
print(a // 3) # 3
print(a % 3) # 1

13.14
31.400000000000002
3.3333333333333335
3
1

### 문자열(str)

In [ ]:
# 문자열은 따옴표("") 또는 (")로 감싸면 됨

text = "Python"
print(text)

Python

In [ ]:
# 문자열 연결 반복

a = "Hello"
b = "World"

print(a + b)
print(a + " " + b)
print(a * 3)

HelloWorld
Hello World
HelloHelloHello

### 인덱싱(indexing)

In [ ]:
# 문자열 안의 한 글자에 접근 o

word = "Python"
print(word[0]) # P
print(word[1]) # t
print(word[2]) # n 뒤에서부터

P
y
t

### 슬라이싱(Slicing)

In [ ]:
# 일부 문자를 잘라내는 방법

word = "Python"
print(word[0:2])
print(word[2:5])
print(word[:3])
print(word[3:])

Py
tho
Pyt
hon

### 불리언(bool)

In [ ]:
# 참(True)과 거짓(False)를 표현하는 자료형
# 비교연산이나 조건문에서 많이 씀

print(5 > 3)
print(5 < 3)
print(10 == 10)
print(10 != 5)

True
False
True
True

### type() 함수

In [ ]:
# 데이터가 어떤 타입인지 확인할 수 있음

x = 10
y = "10"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### 실습 미션

In [ ]:
## 실습1 : 나이 계산기

birth = input("태어난 년도를 입력하세요: ")
age = 2025 - int(birth) + 1
print("당신의 나이는", age, "살입니다.")

태어난 년도를 입력하세요: 2003
당신의 나이는 23 살입니다.

In [ ]:
## 실습 2: 문자열 조작

word = "Accessibility"
print("1번쨰 글자: ", word[0])
print("마지막 글자:", word[-1])
print("앞 4글자: ", word[:4])
print("뒤 4글자: ", word[-4:])

1번쨰 글자:  A
마지막 글자: y
앞 4글자:  Acce
뒤 4글자:  lity

In [ ]:
## 실습 3: 불리언 비교 연습

num = int(input("숫자를 입력하세요: "))
print(num > 10)
print(num == 10)
print(num < 10)

숫자를 입력하세요: 10
False
True
False

###복습 과제

In [ ]:
# 자기 이름 문자열을 변수에 저장하고, 이름의 첫 글자와 마지막 글자 출력

name = input("이름을 입력해주세요: ")

print(name[0])
print(name[-1])

이름을 입력해주세요: yuseong
y
g

In [ ]:
# input()으로 받은 두 숫자를 더하는 코드 작성

num1 = int(input())
num2 = int(input())

print(num1 + num2)

1
2
3

In [ ]:
# 불리언 비교 3가지 만들어서 결과 예측하기

print(3 > 4)
print(5 < 2)
print(10 == 10)

False
False
True

# Day 3: 리스트 · 튜플 · 세트 · 딕셔너리

## 리스트

In [ ]:
# 여러 값을 순서대로 저장할 수 있는 가변형 시퀀스

fruits = ["apple", "banana", "cherry"]

print(fruits)
print(fruits[0]) # apple
print(fruits[-1]) # cherry

['apple', 'banana', 'cherry']
apple
cherry

In [ ]:
# 수정/추가/삭제

fruits[1] = "orange" # 수정
fruits.append("grape") # 추가
fruits.remove("apple") # 삭제
print(fruits)

ValueError: list.remove(x): x not in list

## 튜플(Tuple)

In [ ]:
# 리스트처럼 여러 값을 저장하지만 수정이 불가능
# - 소괄호 `()` 사용
# - 읽기 전용, 데이터 변경 불가
# - 빠르고 안전한 데이터 저장용으로 자주 사용됨

t = (1, 2, 3)
print(t[0]) # 1
# t[0] = 10

1

In [ ]:
# ex) 좌표가 고정된 설정값을 저장할 때

pos = (37.5, 127.0)

## 세트 (Set)

In [ ]:
# 중복이 x, 순서가 없는 집합형 자료형

nums = {1, 2, 3, 3, 2, 1}
print(nums) # {1, 2, 3} (중복 제거됨)

{1, 2, 3}

In [ ]:
# 집합 연산
# - 중복 제거용으로 자주 사용
# - `list()`로 변환 가능

a = {1, 2, 3}
b = {3, 4, 5}

print(a | b) # 합집합 {1, 2, 3, 4, 5}
print(a & b) # 교집합 {3}
print(a - b) # 차집합 {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

## 딕셔너리 (Dictionary)

In [ ]:
person = {"name": "yuseong", "age":23, "city": "Gwangyang"}

print(person["name"]) # yuseong
print(person["age"]) # 23

yuseong
23

In [ ]:
# 추가/수정/삭제

person["job"] = "Engineer" # 추가
person["age"] = 24 # 수정
del person["city"] # 삭제

In [ ]:
# 딕셔너리 메서드
# keys() -> 모든 key 반환
# values() -> 모든 value 반환
# items -> (key, value) 쌍 반환

for key, value in person.items():
    print(key, ":", value)

name : yuseong
age : 24
job : Engineer

## 실습 미션

In [ ]:
# 실습1 : 리스트 관리 프로그램

fruits = ["apple", "banana", "cherry"]
print("현재 리스트: ", fruits)

new = input("추가할 과일 이름: ")
fruits.append(new)
print("추가 후: ", fruits)

현재 리스트:  ['apple', 'banana', 'cherry']
추가할 과일 이름: mango
추가 후:  ['apple', 'banana', 'cherry', 'mango']

In [ ]:
# 실습 2 : 세트 중복 제거

nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)
print("중복 제거 결과: ", unique_nums)

중복 제거 결과:  {1, 2, 3, 4, 5}

In [ ]:
# 실습 3 : 딕셔너리 정보 출력

person = {"name": "Sirius", "age": 23, "city": "Busan"}
print("이름: ", person["name"])
print("나이: ", person["age"])
print("사는 곳: ", person["city"])

이름:  Sirius
나이:  23
사는 곳:  Busan

# Day 4: 제어문 (if, elif, else)

## if문 기본 구조

In [ ]:
if 조건식:
    실행문

In [ ]:
# 조건식이 True 면 실행, False면 건너뜀

age = 20
if age >= 18:
    print("성인입니다.")

성인입니다.

## if-else문

In [ ]:
if 조건식:
    실행문1
else:
    실행문2

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자를 입력하세요: 5
홀수입니다.

## if-elif-else문

In [ ]:
# 여러 조건을 순서대로 검사할때 사용
# 위에서부터 순서대로 검사, 한 번 참이면 나머지는 검사 x

score = int(input("점수를 입력하세요: "))

if score >= 90:
    print("A등급")
elif score >= 80:
    print("B등급")
elif score >= 70:
    print("C등급")
else:
    print("D등급")

점수를 입력하세요: 67
D등급

## 중첩 if문

In [ ]:
# if문 안에 if문을 넣을 수 있음

age = int(input("나이를 입력하세요: "))
gender = input("성별을 입력하세요(M/F): ")

if age >= 18:
  if gender == "M":
      print("성인 남성입니다.")
  else:
      print("성인 여성입니다.")
else:
    print("미성년자입니다.")

나이를 입력하세요: 23
성별을 입력하세요(M/F): M
성인 남성입니다.

## 논리 연산자 (and, or, not)

In [ ]:
# and -> 두 조건이 모두 참 ex) x > 0 and x < 10
# or -> 둘 중 하나라도 참 ex) x < 0 or x > 10
# not -> 참 <-> 거짓 반전 ex) not True -> False

num = 7
if num > 0 and num < 10:
    print("1자리 양수입니다.")

1자리 양수입니다.

## 실습 미션

In [ ]:
# 실습 1: 성적 판별 프로그램

score = int(input("점수를 입력하세요: "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

점수를 입력하세요: 78
C

In [ ]:
# 실습 2 : 로그인 프로그램

id = input("ID 입력: ")
pw = input("비밀번호 입력: ")

if id == "Sirius" and pw == "1234":
    print("로그인 성공!")
else:
    print("로그인 실패!")

ID 입력: Sirius
비밀번호 입력: 1234
로그인 성공!

In [ ]:
# 실습 3 : 양수/음수/0 판별

num = int(input("숫자를 입력하세요: "))

if num > 0:
    print("양수")
elif num < 0:
    print("음수")
else:
    print("0입니다.")

숫자를 입력하세요: 20
양수

# Day 5: 반복문(for, while)

## for문 - 정해진 횟수만큼 반복

In [ ]:
for 변수 in 반복할_객체:
    실행문

In [ ]:
for i in range(5):
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

## range() 함수

In [ ]:
# range(n) -> 0부터 n-1까지 range(5) -> 0, 1, 2, 3, 4
# range(a, b) -> a부터 b-1까지 range(2, 6) -> 2, 3, 4, 5
# range(a, b, c) -> a부터 b-1까지 c 간격으로 -> range(1, 10, 2) -> 1, 3, 5, 7, 9

for i in range(1, 6):
    print(i, "번째 반복 중")

1 번째 반복 중
2 번째 반복 중
3 번째 반복 중
4 번째 반복 중
5 번째 반복 중

## while문 - 조건이 참일 동안 반복문

In [ ]:
while 조건식:
    실행문

In [ ]:
count = 1
while count <= 5:
    print("현재 카운트: ", count)
    count += 1

현재 카운트:  1
현재 카운트:  2
현재 카운트:  3
현재 카운트:  4
현재 카운트:  5

## break & continue

In [ ]:
# break -> 반복 종료

for i in range(1, 10):
  if i == 5:
      break
  print(i)

1
2
3
4

In [ ]:
# continue -> 현재 반복 건너뛰기

for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

## 중첩 반복문

In [ ]:
# 반복문 안에 또 반복문 넣을 수 있음

for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

## 실습 미션

In [ ]:
# 실습1 : 1 부터 10까지의 합 구하기

total = 0
for i in range(1, 11):
    total += i
print("합계: ", total)

합계:  55

In [ ]:
# 실습 2: 구구단 출력(2단만)

for i in range(1, 10):
    print("2 x", i, "=", 2 * i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
# 실습 3: while문으로 1~5 출력

num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

# Day 6: 반복문 응용 (합계, 중첩, 패턴)

## 누적합 (총합 구하기)

In [ ]:
total = 0
for i in range(1, 11):
    total += i
print("1부터 10까지의 합: ", total)

1부터 10까지의 합:  55

## 짝수의 합 / 홀수의 합

In [ ]:
even_sum = 0
odd_sum = 0

for i in range(1, 11):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print("짝수 합: ", even_sum)
print("홀수 합: ", odd_sum)

짝수 합:  30
홀수 합:  25

## 중첩 for문 (이중 반복)

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "x", j, "=", i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 별(*) 패턴 출력

In [ ]:
# 오른쪽 아래 삼각형

for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [ ]:
# 역삼각형

for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

## while문으로 입력 제어하기

In [ ]:
# 무한루프를 돌다가 `break`로 종료하는 패턴 — 실제 서비스(로그인 시도, 반복 입력 등)에도 자주 쓰임.

while True:
    num = int(input("숫자 입력 (0 입력 시 종료): "))
    if num == 0:
        print("종료합니다.")
        break
    print("입력한 숫자: ", num)

숫자 입력 (0 입력 시 종료): 20
입력한 숫자:  20
숫자 입력 (0 입력 시 종료): 0
종료합니다.

## 실습 미션

In [ ]:
# 실습1 : 1~100 사이 3의 배수의 합 구하기

total = 0
for i in range(1, 101):
    if i % 3 == 0:
        total += i
print("3의 배수의 합: ", total)

3의 배수의 합:  1683

In [ ]:
# 실습 2 : 구구단 3단 출력

for i in range(1, 10):
    print("3 x", i, "=", 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
# 실습 3: 별 피라미드 출력

for i in range(1, 6):
    print(" " * (5 - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

# Day 7: 함수 (def, return, 매개변수)

## 함수 기본 구조

In [ ]:
def 함수이름():
    실행문

In [ ]:
# 예시

def greeting():
    print("안녕하세요!")
    print("오늘도 좋은 하루 되세요 :)")

greeting()

안녕하세요!
오늘도 좋은 하루 되세요 :)

## 매개변수(Parameter)

In [ ]:
# 매개변수는 함수가 받아들이는 값

def introduce(name):
    print("안녕하세요,", name, "님!")

    introduce("유성")
    introduce("Sirius")

## 반환값(Return)

In [ ]:
# return은 함수가 "결과값을 돌려주는" 명령어
# print()와 달리, return은 함수를 끝내면서 값을 내보냄

def add(a, b):
      return a + b

result = add(3, 5)
print("결과: ", result)

결과:  8

## 여러 개의 매개변수와 반환

In [ ]:
# return으로 여러 값을 튜플 행태로 반환 가능

def calc(a, b):
    plus = a + b
    minus = a - b
    return plus, minus

x, y = calc(10, 5)
print("덧셈: ", x)
print("뺄셈: ", y)

덧셈:  15
뺄셈:  5

## 매개변수 기본값(Default Parameter)

In [ ]:
# 인자를 안 넣으면 기본값이 사용됨

def greet(name="손님"):
    print("안녕하세요,", name, "님!")

greet()
greet("유성")

안녕하세요, 손님 님!
안녕하세요, 유성 님!

## 함수의 흐름 이해하기

In [ ]:
# 함수는 정의 -> 호출 -> 반환 순으로 동작

def square(num):
    return num ** 2

x = square(5)
print(x) # 25

25

## 실습 미션

In [ ]:
# 실습 1: 인사 함수

def hello(name):
      print("안녕허세요,", name, "님!")

hello("유성")

안녕허세요, 유성 님!

In [ ]:
# 실습 2 : 덧셈 함수

def add(a, b):
      result = a + b
      return result

print("결과: ", add(3, 7))

결과:  10

In [ ]:
# 실습 3: 짝수인지 판별하는 함수


def is_even(num):
      if num % 2 == 0:
            return True
      else:
            return False

print(is_even(4))
print(is_even(5))

True
False

# Day 8: 함수 응용 & 모듈(import)

## 내장함수 (Built-in Functions)

In [ ]:
# | 함수 | 설명 | 예시 |
# | `len()` | 길이 | `len("apple") → 5` |
# | `sum()` | 합계 | `sum([1,2,3]) → 6` |
# | `max()` | 최댓값 | `max([10,20,5]) → 20` |
# | `min()` | 최솟값 | `min([10,20,5]) → 5` |
# | `round()` | 반올림 | `round(3.14159, 2) → 3.14` |
# | `type()` | 자료형 확인 | `type(10) → int` |

nums = [3, 7, 2, 9]
print("합계: ", sum(nums))
print("최댓값: ", max(nums))
print("평균: ", sum(nums) / len(nums))

합계:  21
최댓값:  9
평균:  5.25

##모듈(Module)이란?

In [ ]:
# 미리 만들어진 파이썬 파일(.py)을 불러와서 사용하는 것

import math
print(math.sqrt(25)) # 제곱근 -> 5.0

5.0

## import 방식 3가지

In [ ]:
# 전체 모듈 가져오기

import math
print(math.pi)

3.141592653589793

In [ ]:
# 모듈에서 특정 함수만 가져오기

from math import sqrt, pi
print(sqrt(16), pi)

4.0 3.141592653589793

In [ ]:
# 별명(alias) 지정하기

import math as m
print(m.floor(3.7))

3

## math 모듈 주요 함수

In [ ]:
# | 함수 | 설명 | 예시 |
# | `math.sqrt(x)` | 제곱근 | 16 → 4.0 |
# | `math.pow(a,b)` | a의 b제곱 | 2,3 → 8 |
# | `math.ceil(x)` | 올림 | 3.2 → 4 |
# | `math.floor(x)` | 내림 | 3.7 → 3 |
# | `math.pi` | 원주율 | 3.14159 |

import math
print(math.ceil(3.1))
print(math.floor(3.9))
print(math.pow(2, 3))
print(math.pi)

4
3
8.0
3.141592653589793

## random 모듈 (난수 생성)

In [ ]:
import random

print(random.randint(1, 10)) # 1~10 사이 정수
print(random.choice(["apple", "banana", "cherry"])) # 리스트 중 랜덤 선택

5
cherry

In [ ]:
# ex) 랜덤 숫자 게임

import random

num = random.randint(1, 5)
guess = int(input("1~5 중 숫자를 맞혀보세요: "))

if num == guess:
    print("정답")
else:
    print("틀렸어요. 정답은", num)

1~5 중 숫자를 맞혀보세요: 5
정답

## 실습 미션

In [ ]:
# 실습 1: 리스트 평균 구하기

nums = [10, 20, 30, 40, 50]
avg = sum(nums) / len(nums)
print("평균: ", avg)

평균:  30.0

In [ ]:
# 실습 2 : 반올림 출력

num = 3.14159
print(round(num, 2))

3.14

In [ ]:
# 실습 3: 랜덤 주사위 시뮬레이터

import random

for i in range(5):
      print("🎲 주사위:", random.randint(1, 6))

🎲 주사위: 6
🎲 주사위: 2
🎲 주사위: 1
🎲 주사위: 4
🎲 주사위: 1

# Day 9: 리스트 & 딕셔너리 응용 (함수와 함께 쓰기)

## 리스트 관련 함수 정리

In [1]:
# | 함수 | 설명 | 예시 |
# | --- | --- | --- |
# | `append(x)` | 맨 뒤에 추가 | `[1,2].append(3)` → `[1,2,3]` |
# | `insert(i, x)` | i번째 위치에 추가 | `[1,2].insert(1,5)` → `[1,5,2]` |
# | `remove(x)` | 해당 값 제거 | `[1,2,3].remove(2)` → `[1,3]` |
# | `sort()` | 오름차순 정렬 | `[3,1,2].sort()` → `[1,2,3]` |
# | `reverse()` | 순서 뒤집기 | `[1,2,3].reverse()` → `[3,2,1]` |

fruits = ["banana", "apple", "cherry"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry']

## 리스트와 함수 함께 사용하기

In [3]:
# 함수 안에 리스트를 전달하고, 합계나 평균 계산 가능.

def get_average(scores):
    return sum(scores) / len(scores)

    numbers = [80, 90, 100, 70, 85]
    print("평균: ", get_average(numbers))

## 딕셔너리(Dictionary) 응용

In [4]:
# | 함수 | 설명 | 예시 |
# | --- | --- | --- |
# | `keys()` | 키 목록 반환 | `dict.keys()` |
# | `values()` | 값 목록 반환 | `dict.values()` |
# | `items()` | (키, 값) 쌍 반환 | `dict.items()` |
# | `get(key)` | 키의 값 반환 | `d.get("name")` |

student = {"name" : "Sirius", "age": 23, "major" : "IT"}
print(student["name"])
print(student.get("age"))
print(student.keys())

Sirius
23
dict_keys(['name', 'age', 'major'])

## 딕셔너리와 함수 결합

In [6]:
# 함수에 딕셔너리 전달해서 정보 출력 가능.

def introduce(person):
    print("이름: ", person["name"])
    print("나이:", person["age"])
    print("전공: ", person["major"])

    data = {"name" : "유성", "age": 23, "major": "IT응용공학"}
    introduce(data)

## 딕셔너리 순회하기 (for문)

In [7]:
student = {"name" : "Sirius", "age": 23, "major" : "IT"}

for key, value in student.items():
    print(key, ":", value)

name : Sirius
age : 23
major : IT

## 실습 미션

In [8]:
# 실습 1 : 점수 평균 함수

def calc_avg(scores):
    return sum(scores) / len(scores)

scores = [88, 92, 79, 93, 85]
print("평균 점수: ", calc_avg(scores))

평균 점수:  87.4

In [9]:
# 실습 2 : 딕셔너리 정보 추가

student = {"name" : "유성", "age" : 23}
student["major"] = "IT응용공학"
print(student)

{'name': '유성', 'age': 23, 'major': 'IT응용공학'}

In [10]:
# 실습 3 : 학생 정보 관리 함수

def add_student(students, name, age):
      students[name] = age

students = {}
add_student(students, "유성", 23)
add_student(students, "Sirius", 21)
print(students)

{'유성': 23, 'Sirius': 21}