<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B9%A0%EB%A5%B8_%EA%B8%B0%EC%B4%88_%EB%B3%B5%EC%8A%B5_%EC%BB%A4%EB%A6%AC%ED%81%98%EB%9F%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 : 파이썬 첫걸음 & 입출력 시작

## print() 출력하기

In [ ]:
# print()는 화면에 결과를 보여주는 명령어
# ""나 '' 안에 넣으면 문자열(string)으로 인식돼.

print("Hello, Sirius!")
print("파이썬을 다시 시작한다!")

Hello, Sirius!
파이썬을 다시 시작한다!

In [ ]:
# 연습문제 1

print("내 이름은 유성이고, Inclusive UX Researcher가 되는 게 목표입니다.")

내 이름은 유성이고, Inclusive UX Researcher가 되는 게 목표입니다.

# input() 입력받기

In [ ]:
# input()은 사용자의 입력을 받아 문자열로 저장함

name = input("당신의 이름은 무엇인가요? ")
print("안녕하세요, ", name, "님!")

당신의 이름은 무엇인가요? 유성
안녕하세요,  유성 님!

In [ ]:
# 연습문제 2

age = int(input("나이를 입력하세요: "))
print("유성님은 ", age, "살이군요!")

나이를 입력하세요: 23
유성님은  23 살이군요!

# 문자열 결합과 포맷팅

In [ ]:
# 문자열끼리 더할 수도 있음

name = "Sirius"
print("안녕, " + name + "!")

안녕, Sirius!

In [ ]:
# 혹은 f-string 쓰면 훨씬 깔끔함

print(f"안녕, {name}!")

안녕, Sirius!

In [ ]:
# 연습문제 3

name = input("이름을 입력해 주세요: ")
job = input("당신의 직업을 입력해 주세요: ")

print(name, "님의 직업은", job, "입니다.")

이름을 입력해 주세요: 유성
당신의 직업을 입력해 주세요: Researcher
유성 님의 직업은 Researcher 입니다.

# 미니 프로젝트 - 자기소개

In [ ]:
# 아래 형식처럼 나올 수 있게 작성해보자.

name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))
job = input("직업을 입력하세요: ")

print("----------------------")
print("안녕하세요", name, "님!")
print(age, "살", job, "로 활동 중이시군요.")
print("파이썬 공부 화이팅 입니다!")

이름을 입력하세요: 유성
나이를 입력하세요: 23
직업을 입력하세요: UX Researcher
----------------------
안녕하세요 유성 님!
23 살 UX Researcher 로 활동 중이시군요.
파이썬 공부 화이팅 입니다!

# Day 2 : 변수와 자료형

## Step 1. 변수란?

In [ ]:
# 변수란 데이터를 담는 상자

name = "유성"
age = 23
goal = "Inclusive UX Researcher"

## Step 2. 자료형(Data Type)

In [ ]:
# | **타입** | **예시** | **설명** |
# | --- | --- | --- |
# | int | 10, -5 | 정수 |
# | float | 3.14, -0.1 | 실수 |
# | str | “Hello”, ‘유성’ | 문자열 |
# | bool | True, False | 논리값 |

age = 25 #int
height = 178.5 # float
name = "유성" # str
is_student = True # bool

In [ ]:
# type() 함수로 자료형 확인

print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

## Step3. 형변환(Type Casting)

In [ ]:
# 가끔 문자열을 숫자로 바꾸거나, 숫자를 문자열로 바꿔야 할 때가 있음

num_str = "10"
num_int = int(num_str) # "10" -> 10
print(num_int + 5) # 15

age = 23
print("나이는 " + str(age) + "살입니다.")

15
나이는 23살입니다.

##Step4. 간단한 계산 연습

In [ ]:
a = 10
b = 3
print(a + b) #  덧셈
print(a - b) # 뺄셈
print(a * b) # 곱셈
print(a / b) # 나눗셈 (실수 결과)
print(a // b) # 몫
print(a % b) # 나머지

13
7
30
3.3333333333333335
3
1

In [ ]:
# 연습문제 1
# 두 수를 입력받아 더한 결과를 출력해보자.

a = int(input())
b = int(input())

print(a + b)

2
3
5

## Step5. 미니 프로젝트 - 온도 변환기

In [ ]:
# 화씨 = (섭씨 * 9/5) + 32

celsius = float(input("섭씨 온도를 입력하세요: "))
fahrenheit = (celsius * 9/5) + 32
print(f"섭씨 {celsius}도는 화씨 {fahrenheit}도 입니다.")

섭씨 온도를 입력하세요: 30
섭씨 30.0도는 화씨 86.0도 입니다.

In [ ]:
# 섭씨 = (화씨 - 32) * 5/9

fahrenheit = int(input("화씨 온도를 입력하세요: "))
celsius = (fahrenheit - 32) * 5/9
print(f"화씨 {fahrenheit}도는 화씨 {celsius:.2f}도 입니다.")

화씨 온도를 입력하세요: 80
화씨 80도는 화씨 26.67도 입니다.

# Day 3 : 문자열 다루기(String Handling)

## Step 1. 인덱싱(indexing)

In [ ]:
# 문자열은 문자의 리스트처럼 되어 있어서, 각 문자에는 번호(인덱스)가 있음
# 인덱스는 0부터 시작하고, 음수는 뒤에서 부터 센다

word = "Sirius"
print(word[0])
print(word[1])
print(word[-1])

S
i
s

In [ ]:
# 연습문제 1
# 문자열 "Inclusive"에서 첫 글자와 마지막 글자를 각각 출력해봐

word = "Inclusive"
print(word[0])
print(word[-1])

I
e

## Step 2. 슬라이싱(Slicing)

In [ ]:
# 인덱스의 범위를 이용해서 문자열의 일부를 자르는 것

word = "Accessibility"
print(word[0:4])
print(word[:6])
print(word[6:])
print(word[-3:])

Acce
Access
ibility
ity

In [ ]:
# 연습문제 2
# InclusiveUX 에서 Inclusive만 잘라내 출력해봐

word = "InclusiveUX"
print(word[0:9])

Inclusive

## Step3. 문자열 메서드들

In [ ]:
# | 메서드 | 설명 | 예시 |
# | --- | --- | --- |
# | `split()` | 문자열을 나누어 리스트로 만듦 | `"UX Research".split()` → `['UX', 'Research']` |
# | `replace(a, b)` | a를 b로 바꿈 | `"Hello".replace("H", "Y")` → `"Yello"` |
# | `upper()` | 대문자로 | `"apple".upper()` → `"APPLE"` |
# | `lower()` | 소문자로 | `"APPLE".lower()` → `"apple"` |
# | `strip()` | 양쪽 공백 제거 | `"  Skyler  ".strip()` → `"Skyler"` |

In [ ]:
# 연습문제 3
# "I want to be an Inclusive Research"를
# 1. 공백기준으로 split()해서 리스트 만들고
# 2. replace()를 이용해 "Inclusive" -> "AI driven Inclusive로 바꿔보자"

word = "I want to be an Inclusive Research"
print(word.split())

word = word.replace("Inclusive", "AI driven Inclusive")
print(word)

['I', 'want', 'to', 'be', 'an', 'Inclusive', 'Research']
I want to be an AI driven Inclusive Research

## Step 4. 미니 프로젝트 - 이름 변환기

In [ ]:
# 입력된 이름을 전부 대문자로 바꿔봐

full_name = input("영문 이름을 입력하세요: (예: Skyler Yoo): ")
first, last = full_name.split()
print(f"당신의 이니셜은 {first[0].upper()}.{last[0].upper()} 입니다")

영문 이름을 입력하세요: (예: Skyler Yoo): Sirius Yoo
당신의 이니셜은 S.Y 입니다..

# Day 4: 리스트(List), 튜플(Tuple), 세트(Set)

## Step 1. 리스트 (List)

In [1]:
# 리스트는 수정 가능한 데이터 묶음

fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[-1])

apple
cherry

In [2]:
# 리스트 수정

fruits[1] = "mango" # 값 바꾸기
print(fruits)

fruits.append("orange") # 추가
fruits.remove("apple") # 제거
print(fruits)

['apple', 'mango', 'cherry']
['mango', 'cherry', 'orange']

In [3]:
# 리스트 길이

print(len(fruits)) # 원소 개수

3

In [4]:
# 연습문제 1
# 리스트 numbers = [10, 20, 30]에 숫자 40을 추가하고 첫 번째 원소를 삭제한 뒤리스트 전체를 출력

numbers = [10, 20, 30]
numbers.append(40)
numbers.remove(10)
print(numbers)

[20, 30, 40]

## Step 2. 튜플(Tuple)

In [5]:
# 튜플은 수정이 불가능한 리스트
# 소괄호로 만듬
# 대신 데이터가 고정된 경우에 씀

colors = ("red", "green", "blue")
print(colors[1])

green

In [6]:
# 연습문제 2

colors = ("100", "200", "300")
print(colors[2])

300

## Step3. 세트(Set)

In [7]:
# 세트는 중복아 없고, 순서가 없는 데이터 집합
# 중괄호 {} 로 만듬

nums = {1, 2, 3, 3, 2}
print(nums)

{1, 2, 3}

In [8]:
#  세트 연산

a = {1, 2, 3}
b = {3, 4, 5}

print(a | b) # 합집합 -> {1, 2, 3, 4, 5}
print(a & b) # 교집합 -> {3}
print(a - b) # 차집합 -> {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [9]:
# 연습문제 3

num1 = {1, 2, 3}
num2 ={2, 3, 4}

print(num1 & num2)
print(num1 | num2)

{2, 3}
{1, 2, 3, 4}

## Step 4. 미니 프로젝트 - 평균 점수 계산기

In [16]:
# 학생 점수들의 평균을 구하는 프로그램

scores = list(map(int, input("점수를 입력하세요: ").split()))
average = sum(scores) / len(scores)
print(f"평균 점수는 {average:.1f}점입니다.")

점수를 입력하세요 (예: 90 85 100 70): 90 85 100 70
평균 점수는 86.2점입니다.