<a href="https://colab.research.google.com/github/YuSeongShim/Python_colab/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B9%A0%EB%A5%B8_%EA%B8%B0%EC%B4%88_%EB%B3%B5%EC%8A%B5_%EC%BB%A4%EB%A6%AC%ED%81%98%EB%9F%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 1: 파이썬의 기본 구조 & 입출력 기초

### 파이썬 프로그램의 구조

In [ ]:
print("Hello, world!")
print("This is Python.")

Hello, world!
This is Python.

### 출력 함수 print()

In [ ]:
## 데이터를 화면에 출력하는 함수
## 문자열을 출력할 땐 반드시 "따옴표" 또는 '따옴표'로 감싸야 함

print("안녕하세요")
print(3 + 5)
print("3 + 5=", 3 + 5)

안녕하세요
8
3 + 5= 8

### 입력 함수 input()

In [ ]:
## 사용자가 직접 입력할 수 있게 해주는 함수
## 입력된 값은 항상 문자열(str) 형태로 저장됌.

name = input("이름을 입력하세요: ")
print("안녕하세요,", name, "님!")

이름을 입력하세요: 유성
안녕하세요, 유성 님!

### 변수란?

In [ ]:
## 데이터를 저장하는 공간
## 파이썬은 자료형을 자동으로 추론해줌

age = 23
name = "Skyler"
height = 176.8
print(name, "의 나이는", age, "살이고 키는", height, "cm 입니다.")

Skyler 의 나이는 23 살이고 키는 176.8 cm 입니다.

### 주석과 들여쓰기

In [ ]:
## 주석 -> 프로그램 실행에 영향을 주지 않고 설명을 적는 용도
## #으로 시작함

# 이건 주석입니다.
print("주석은 실행되지 않아요!") # 이 부분도 주석

In [ ]:
## 들여쓰기 -> 파이썬은 {} 대신 들여쓰기로 코드 블록을 구분

if True:
    print("이건 들여쓰기 된 문장")
print("이건 밖에 있는 문장")

이건 들여쓰기 된 문장
이건 밖에 있는 문장

### 실습 미션

In [ ]:
# 인사 프로그램 만들기

name = input("이름을 입력하세요: ")
age = input("나이를 입력하세요: ")
print("안녕하세요", name, "님! 당신은", age, "살이시군요.")

이름을 입력하세요: 유성
나이를 입력하세요: 23
안녕하세요 유성 님! 당신은 23 살이시군요.

In [ ]:
# 간단한 계산기

# 두 수를 입력받아서 합을 출력하기
a = input("첫 번째 숫자를 입력하세요: ")
b = input("두 번째 숫자를 입력하세요: ")

sum = int(a) + int(b)
print("두 수의 합은: ", sum)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
두 수의 합은:  8

## Day2 - 자료형 완전 정복편

### 자료형(Type) 이란?

In [ ]:
## 데이터에는 종류(타입)이 있음
## ex) 10은 숫자, "10"은 문자로 인식함

# | 자료형   | 예시             | 설명                  |
# | ----- | -------------- | ------------------- |
# | int   | 10, -5         | 정수 (소수점 없음)         |
# | float | 3.14, -0.5     | 실수 (소수점 있음)         |
# | str   | "Hello", '123' | 문자열 (따옴표로 감싸진 문자)   |
# | bool  | True, False    | 참(True) / 거짓(False) |

### 숫자형(int, float)

In [1]:
a = 10 # int 정수
b = 3.14 # float 실수

print(a + b) # 13.14
print(a * b) # 31.4
print(a / 3) # 3.333...
print(a // 3) # 3
print(a % 3) # 1

13.14
31.400000000000002
3.3333333333333335
3
1

### 문자열(str)

In [2]:
# 문자열은 따옴표("") 또는 (")로 감싸면 됨

text = "Python"
print(text)

Python

In [3]:
# 문자열 연결 반복

a = "Hello"
b = "World"

print(a + b)
print(a + " " + b)
print(a * 3)

HelloWorld
Hello World
HelloHelloHello

### 인덱싱(indexing)

In [4]:
# 문자열 안의 한 글자에 접근 o

word = "Python"
print(word[0]) # P
print(word[1]) # t
print(word[2]) # n 뒤에서부터

P
y
t

### 슬라이싱(Slicing)

In [5]:
# 일부 문자를 잘라내는 방법

word = "Python"
print(word[0:2])
print(word[2:5])
print(word[:3])
print(word[3:])

Py
tho
Pyt
hon

### 불리언(bool)

In [6]:
# 참(True)과 거짓(False)를 표현하는 자료형
# 비교연산이나 조건문에서 많이 씀

print(5 > 3)
print(5 < 3)
print(10 == 10)
print(10 != 5)

True
False
True
True

### type() 함수

In [7]:
# 데이터가 어떤 타입인지 확인할 수 있음

x = 10
y = "10"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### 실습 미션

In [9]:
## 실습1 : 나이 계산기

birth = input("태어난 년도를 입력하세요: ")
age = 2025 - int(birth) + 1
print("당신의 나이는", age, "살입니다.")

태어난 년도를 입력하세요: 2003
당신의 나이는 23 살입니다.

In [11]:
## 실습 2: 문자열 조작

word = "Accessibility"
print("1번쨰 글자: ", word[0])
print("마지막 글자:", word[-1])
print("앞 4글자: ", word[:4])
print("뒤 4글자: ", word[-4:])

1번쨰 글자:  A
마지막 글자: y
앞 4글자:  Acce
뒤 4글자:  lity

In [12]:
## 실습 3: 불리언 비교 연습

num = int(input("숫자를 입력하세요: "))
print(num > 10)
print(num == 10)
print(num < 10)

숫자를 입력하세요: 10
False
True
False